PORT=8080
NODE_ENV=production
EMAIL_HOST=host.email.com
SENDER_EMAIL_PASSWORD=somepassword
SENDER_EMAIL_ADDRESS=some@email.com
RECV_EMAIL_ADDRESS=some@email.com
MEDIUM_USER=@rosschadwick
MAX_POSTS=20
GITHUB_USER=Chadsr
MAX_REPOS=20

# GHOST
url=https://blog.ross.ch

# Caddy
EMAIL=some@email.com