#Caddyfile

ross.ch, www.ross.ch {
    tls {
        dns cloudflare
    }

    root /var/www/html

    header / {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        Content-Security-Policy "default-src 'self'; script-src https: 'self' 'unsafe-inline'; style-src https: 'self' 'unsafe-inline';"
        X-Frame-Options SAMEORIGIN
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options nosniff
    }

    proxy / webapp:8080 {
        transparent
    }
}

blog.ross.ch, www.blog.ross.ch {
    tls {
        dns cloudflare
    }

    header / {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        default-src 'self'; script-src https: 'self' https: 'code.jquery.com' 'unsafe-inline'; style-src https: 'self' 'unsafe-inline';
        X-Frame-Options SAMEORIGIN
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options nosniff
    }

    proxy / ghost:2368 {
        transparent
    }
}