[Unit]
Description=ross.ch
Requires=podman.service
After=podman.service

[Service]
WorkingDirectory=<GIT_PATH>
Restart=always

ExecStart=/usr/bin/podman-compose up --build

ExecStop=/usr/bin/podman-compose down

[Install]
WantedBy=multi-user.target
