@import 'fontawesome/fontawesome.scss';
@import 'fontawesome/brands.scss';
@import 'fontawesome/solid.scss';

/* Colours */
$color-background: light-dark(rgb(180, 180, 180), rgb(8, 8, 8));
$color-background-transparent: light-dark(
    rgba(232, 232, 232, 0.8),
    rgba(8, 8, 8, 0.6)
);
$color-content: light-dark(rgb(250, 250, 250), rgb(40, 40, 40));
$gradient-background: linear-gradient(
        -20deg,
        rgba(76, 57, 202, 0.4) 40%,
        rgba(222, 42, 99, 0.4)
    ),
    linear-gradient(60deg, rgb(109, 53, 176) 10%, rgb(233, 41, 102));
$background-content-highlight: rgb(138, 65, 241);
$color-content-secondary: light-dark(rgb(240, 240, 240), rgb(20, 20, 20));
$color-content-secondary-highlight: $color-content-secondary;
$color-text: light-dark(#333, white);
$color-text-highlight: $background-content-highlight;
$color-text-link-highlight: $background-content-highlight;
$color-heading: light-dark(#333, white);
$color-text-placeholder: $color-text;
$color-text-placeholder-highlight: $color-text-highlight;
$color-banner-heading: white;
$color-banner-background: light-dark(#333, rgb(25, 25, 25));
$color-scrollbar: $color-content;
$color-scrollbar_track: $color-content;
$color-scrollbar-thumb: $color-banner-background;
$color-outline: light-dark(rgba(0, 0, 0, 0.2), rgba(180, 180, 180, 0.2));
$filter-face-no-focus: brightness(80%);

$color-iso: $color-background;
$color-iso-top: $color-iso;
$color-iso-left: $color-iso;
$color-iso-right: $color-iso;
$color-iso-back-left: $color-iso;
$color-iso-back-right: $color-iso;
$color-iso-bottom: $color-iso;

$color-iso-stroke: $background-content-highlight;

$color-hover-iso-front: $color-background-transparent;
$color-hover-iso-top: $color-hover-iso-front;
$color-hover-iso-left: $color-hover-iso-front;
$color-hover-iso-right: $color-hover-iso-front;

$color-hover-iso-back: rgba(108, 53, 176, 0.2);
$color-hover-iso-bottom: $color-hover-iso-back;
$color-hover-iso-back-left: $color-hover-iso-back;
$color-hover-iso-back-right: $color-hover-iso-back;

$color-linkedin: #4875b4;
$color-github: #4183c4;
$color-keybase: #4c8eff;
$color-bluesky: #004daa;
$color-gpg: #e98007;

$color-success: #15a12a;
$color-error: #a51818;

/* Fonts */
$font-macula: 'Macula';
$font-main: 'Geist Mono', monospace;

$width-full-button: 125px;
$width-icon-button: 50px;

@font-face {
    font-family: $font-macula;
    font-style: normal;
    font-weight: bold;
    src:
        url('/fonts/Macula-Solid.woff2') format('woff2'),
        url('/fonts/Macula-Solid.woff') format('woff');
}

@font-face {
    font-family: $font-main;
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src:
        url('/fonts/geist/geist-mono-latin-300-normal.woff2') format('woff2'),
        url('/fonts/geist/geist-mono-latin-300-normal.woff') format('woff');
}

:root {
    color-scheme: light dark;
}

/* Extends */
%macula {
    font-family: $font-macula, serif;
    font-display: swap;
    text-transform: uppercase;
    color: $color-heading;
}

%list {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

%form-layout {
    width: 100%;
    text-align: center;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

%form-input-style {
    @extend %form-layout;
    @extend %transition-ease;
    font-family: $font-main;
    font-size: 16px;
    background-color: $color-content-secondary;

    &:hover,
    &:focus {
        background-color: $color-content-secondary-highlight;
        color: $color-text-highlight;
        outline: none;

        &::placeholder {
            color: $color-text-placeholder-highlight;
            opacity: 0.5;
        }
    }

    &::placeholder {
        @extend %transition-ease;
        color: $color-text-placeholder;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: $color-text;
        box-shadow: 0 0 0 100px $color-content-secondary inset;
    }
}

%field-title-style {
    @extend %form-layout;
    display: block;
    background-color: $color-banner-background;
    font-weight: bold;
    @extend %outline-dotted;
}

%no-select {
    -webkit-touch-callout: none;
    user-select: none;
}

%allow-select-text {
    user-select: text;
}

%full-screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

%button-icon {
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    margin: 4px auto;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

%transition-ease {
    transition: all 200ms ease;
}

%transition-ease-in-out {
    transition: all 500ms ease-in-out;
}

%transition-ease-out {
    transition: all 500ms ease-out;
}

%transition-cube {
    transition-property: transform;
    transition: all 500ms linear;
}

%threed-side {
    content: '';
    display: block;
    position: absolute;
    width: inherit;
    height: 32px;
    transform-style: preserve-3d;
    perspective: inherit;
    perspective-origin: inherit;
    background-color: inherit;
}

%threed-side-top {
    @extend %threed-side;
    filter: brightness(120%);
    transform: rotateX(60deg) translate3d(0, -50%, 0);
    top: -16px;
}

%threed-side-bottom {
    @extend %threed-side;
    filter: brightness(80%);
    transform: rotateX(-60deg) translate3d(0, 50%, 0);
    top: 16px;
}

/* Main styles */
::selection {
    background-image: none;
    background: $background-content-highlight;
    color: $color-text-highlight;
}

html {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    @extend %no-select;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: $font-main;
    color: $color-text;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-rendering: geometricPrecision;
}

h1 {
    --a: 10deg;
    display: inline-block;
    font-size: 6vmin;
    margin: 0;
    @extend %macula;
    background: $gradient-background;
    background-clip: text;
    color: transparent;
}

h2 {
    display: inline-block;
    font-size: 5vmin;
    @extend %macula;
    margin: 0;
}

h3 {
    display: inline-block;
    font-weight: bold;
    padding: 8px;
    margin: 0;
}

h4 {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    .superscript {
        font-size: 0.6em;
    }
}

h5 {
    font-weight: 400;
}

p {
    margin: 8px 0;
}

a {
    color: $color-text;
    display: contents;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    @extend %transition-ease;

    &:active {
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        color: $color-text-highlight;
    }
}

strong {
    font-weight: bold;
}

textarea {
    line-height: 32px;
    text-decoration: none;
    margin: 0 0 -4px 0;
    @extend %form-input-style;
}

li {
    @extend %list;
}

nav,
footer {
    ul > li > a {
        width: 100%;
        height: 100%;
        display: inline-block;
    }
}

ul {
    @extend %list;

    &.social {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: nowrap;
        height: inherit;

        > li {
            @extend %transition-ease;
            width: $width-icon-button;
            cursor: pointer;
            height: inherit;

            > a {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                &.linkedin {
                    &:hover {
                        color: $color-linkedin;
                    }
                }

                &.bluesky {
                    &:hover {
                        color: $color-bluesky;
                    }
                }

                &.github {
                    &:hover {
                        color: $color-github;
                    }
                }

                &.keybase {
                    &:hover {
                        color: $color-keybase;
                    }
                }
            }
        }
    }
}

.social-icon {
    font-size: 20px;
}

form {
    display: contents;
}

fieldset {
    display: contents;
    @extend %form-layout;

    button {
        @extend %field-title-style;
        color: $color-banner-heading;
    }
}

.button {
    @extend %field-title-style;
}

input {
    @extend %form-input-style;
}

audio {
    display: none;
}

nav {
    > ul {
        width: inherit;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: nowrap;

        > li {
            width: $width-full-button;
            height: 32px;
            @extend %transition-ease;

            &::after {
                z-index: 4;
                @extend %threed-side-bottom;
            }

            &:hover,
            &.selected {
                > a {
                    color: $color-text-highlight;
                }
            }

            > a {
                > h4 {
                    line-height: 32px;
                }
            }
        }
    }
}

.light {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

.text-left {
    text-align: left;
}

.background {
    background-color: $color-background;
    @extend %full-screen;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %full-screen;
}

.content-section {
    margin: 32px 0;
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
}

button {
    @extend %transition-ease;
    cursor: pointer;
    color: $color-banner-heading;

    &:hover {
        background-color: $background-content-highlight;
    }
}

.link {
    &:hover,
    &:focus {
        color: $color-text-link-highlight;
    }
}

.button {
    cursor: pointer;

    span {
        @extend %transition-ease;
        padding: 0 5px;
    }

    &:hover span {
        @extend %transition-ease;
        background-color: $background-content-highlight;
        color: $color-text-highlight;
    }
}

.superscript {
    vertical-align: super;
}

.copyright {
    margin: 4px 10px;
    text-align: center;
}

.banner {
    height: 32px;
    width: 100%;

    > h4 {
        margin: 4px 10px;
        text-align: center;
    }
}

.title {
    padding: 8px;
}

.title,
button {
    &.error,
    &.error::before,
    &.error::after,
    &.error:hover {
        background-color: $color-error;
    }

    &.success,
    &.success::before,
    &.success::after,
    &.success:hover {
        background-color: $color-success;
    }
}

.title-wordmark {
    padding: 0 0 32px 0;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.flex-space {
    justify-content: space-between;
}

footer {
    background-color: $color-content;
    width: 100%;
    max-height: 32px;
    height: 32px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    @extend %outline-dotted;

    &::after {
        @extend %threed-side-top;
        @extend %outline-dotted;
    }
}

header {
    background-color: $color-content;
    width: 100%;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    @extend %outline-dotted;

    &::after {
        @extend %threed-side-bottom;
        @extend %outline-dotted;
    }
}

/* Escher cube background styles */
.isobg {
    @extend %full-screen;
}

@keyframes iso-dash {
    from {
        stroke-dashoffset: 0%;
    }

    to {
        stroke-dashoffset: 50%;
    }
}

%stroke-network {
    stroke: $color-iso-stroke;
    stroke-dasharray: 4pt, 0, 0, 100px;
    stroke-width: 2pt;
    stroke-linejoin: round;
    stroke-linecap: round;
    will-change: stroke-dashoffset;
}

%stroke-network-animation {
    animation: iso-dash 30s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

%outline-dotted {
    outline: 2px dotted $color-outline;
    outline-offset: -2px;
}

%scrollable {
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;

    &::-webkit-scrollbar-track {
        background: $color-scrollbar-track;
    }

    &::-webkit-scrollbar {
        background: $color-scrollbar;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-scrollbar-thumb;

        &:hover,
        &:active {
            background: $background-content-highlight;
            color: $color-text-highlight;
        }
    }

    scrollbar-width: thin;
    scrollbar-track-color: $color-scrollbar-track;
    scrollbar-base-color: $color-scrollbar;
    scroll-behavior: smooth;
}

.iso {
    > rect {
        stroke-opacity: 0%;
        @extend %outline-dotted;
        @extend %stroke-network;
        @extend %transition-ease;
    }

    > .iso-left {
        fill: $color-iso-left;
    }

    > .iso-right {
        fill: $color-iso-right;
    }

    > .iso-top {
        fill: $color-iso-top;
    }

    > .iso-back-left {
        fill: $color-iso-back-left;
    }

    > .iso-back-right {
        fill: $color-iso-back-right;
    }

    > .iso-bottom {
        fill: $color-iso-bottom;
    }

    &:hover {
        > rect {
            stroke-opacity: 100%;
            @extend %stroke-network-animation;
        }

        > .iso-left {
            fill: $color-hover-iso-left;
        }

        > .iso-right {
            fill: $color-hover-iso-right;
        }

        > .iso-top {
            fill: $color-hover-iso-top;
        }

        > .iso-back-left {
            fill: $color-hover-iso-back-left;
        }

        > .iso-back-right {
            fill: $color-hover-iso-back-right;
        }

        > .iso-bottom {
            fill: $color-hover-iso-bottom;
        }
    }
}

@keyframes escher {
    from {
        transform: rotateX(-35deg) rotateY(45deg) scale3d(0.5, 0.5, 0.5);
    }

    to {
        transform: rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    }
}

@mixin rotate-faces($deg) {
    .face-front {
        transform: rotateY($deg);
    }

    .face-left {
        transform: rotateY(-90deg + $deg);
    }

    .face-right {
        transform: rotateY(90deg + $deg);
    }

    .face-back {
        transform: rotateY(180deg + $deg);
    }

    .face-top {
        transform: rotateX(90deg) rotateZ(-$deg);
    }

    .face-bottom {
        transform: rotateX(-90deg) rotateZ($deg);
    }
}

.content-cube {
    transform-style: preserve-3d;

    &.rotate {
        &-0 {
            @include rotate-faces(0deg);
        }

        &-1 {
            @include rotate-faces(-90deg);
        }

        &-2 {
            @include rotate-faces(-180deg);
        }

        &-3 {
            @include rotate-faces(-270deg);
        }
    }

    > .face {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        will-change: transform;
        transition-property: transform;
        @extend %transition-cube;
        outline-offset: 0;
        @extend %outline-dotted;

        &.face-top {
            filter: brightness(160%);
        }

        > .face-content {
            display: flex;
            overflow-y: hidden;
            overflow-x: hidden;
            width: inherit;
            height: inherit;
            padding: 0 10%;
            box-sizing: border-box;
            background-color: $color-content;
            filter: $filter-face-no-focus;
            transition-property: filter;
            pointer-events: none;
            transform-style: flat;
            @extend %transition-ease-in-out;

            > .content-section {
                flex: auto;
                max-width: 100%;
                word-wrap: break-word;
                overflow-wrap: break-word;

                ul.list {
                    display: block;

                    li {
                        padding: 8px 0 0 0;
                        width: 100%;
                        text-align: left;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        overflow-wrap: break-word;

                        p {
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            margin: 0;
                            word-wrap: auto;
                            width: 100%;

                            &::before {
                                @extend %macula;
                                content: '>';
                                padding: 0 8px 0 0;
                                font-size: 48px;
                            }
                        }

                        > ul {
                            padding: 0 0 0 24px;
                            max-width: 100%;

                            > li {
                                padding: 0 0 8px 0;

                                p::before {
                                    font-size: 32px;
                                }
                            }
                        }
                    }
                }

                > .description {
                    margin-bottom: 32px;
                }
            }
        }

        &.focus {
            z-index: 2;

            > .face-content {
                transform: translateZ(0);
                filter: none;
                pointer-events: auto;
                @extend %scrollable;
            }
        }
    }
}

.perspective {
    > button {
        height: 64px;
        width: 100%;
        margin-top: 16px;
        padding: 0;
        border: none;
        font-weight: bolder;
        font-size: 1em;
        transform-style: preserve-3d;
        @extend %outline-dotted;

        &::after {
            @extend %threed-side-top;
            @extend %outline-dotted;
        }

        &:active {
            transform: rotate3d(1, 0, 0, -45deg);
        }
    }
}

.field {
    background-color: $color-content-secondary;
    margin-bottom: 32px;
    @extend %outline-dotted;

    &.hover:hover {
        background-color: $color-content-secondary-highlight;

        .title {
            background-color: $background-content-highlight;
        }
    }

    .title {
        @extend %field-title-style;

        h2 {
            color: $color-banner-heading;
            font-size: 3vmin;
            margin: 8px 0;
        }

        h3 {
            color: $color-banner-heading;
            margin: 0;
        }
    }

    label.title {
        color: $color-banner-heading;
        line-height: 32px;
    }

    input {
        height: 32px;
    }

    textarea {
        width: 100%;
        height: 100%;
        min-height: 128px;
        box-sizing: border-box;
        resize: vertical;
        @extend %outline-dotted;
    }

    > ul {
        padding: 16px;
        display: inline-block;
    }

    &.perspective {
        margin-top: 16px;

        .title,
        > button {
            min-height: 32px;
            @extend %outline-dotted;
            @extend %transition-ease;

            &::after {
                @extend %threed-side-top;
                @extend %outline-dotted;
            }
        }
    }
}

.field-text {
    padding: 8px 0;
    margin: 0 16px;
}

.icon {
    display: inline-block;
}

/* Blog and Repositories */
.feed {
    box-sizing: border-box;

    > .feed-item {
        @extend %transition-ease;

        &:hover {
            .feed-item-title,
            .feed-item-tag,
            .feed-item-title,
            .repo-language,
            .repo-stars {
                background-color: $background-content-highlight;
            }
        }

        .feed-item-title {
            @extend %transition-ease;
        }

        .feed-item-content {
            padding: 8px 16px 16px 16px;
        }
    }
}

.feed-item-tags,
.repo-stats {
    line-height: 32px;
    text-align: center;
}

.repo-stars {
    &::after {
        margin-left: 4px;
        content: '\2605';
        font-size: 22px;
    }
}

.feed-item-tag,
.repo-stars,
.repo-language {
    color: $color-banner-heading;
    padding: 4px;
    background-color: $color-banner-background;
    @extend %transition-ease;
    @extend %outline-dotted;
}

.feed-item-summary {
    margin: 0;
}

.feed-item-date {
    padding: 8px;
    display: block;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

.project-tags {
    padding: 8px 0 0 0;
}

.theme-switch input {
    display: none;
}
