<!DOCTYPE html>
<html>
{{> head}}

<body class="nojs-styles">
	{{> header}}

	<div id="content" class="perspective">
		{{> cube}}
	</div>

	<div id="background">
	</div>

	{{> footer}}
</body>
</html>
