<!DOCTYPE html>
<html lang="en">
    {{> webpack}}
    <body class="nojs-styles">
        {{> header}}

        <div id="content" class="perspective">
            <div id="background"></div>
            {{> cube}}
        </div>

        {{> footer}}
    </body>
</html>
