$bp-larger-than-mobile : "min-width: 400px" !default
$bp-larger-than-phablet : "min-width: 550px" !default
$bp-larger-than-tablet : "min-width: 750px" !default
$bp-larger-than-desktop : "min-width: 1000px" !default
$bp-larger-than-desktophd : "min-width: 1200px" !default

// Mixin function handling all styles related to the cube over different sizes of width/height in pixels
@mixin cubeTransform($size)
    .perspective
        perspective: $size * 2

    #mainCube
        width: $size
        height: $size

        transform-origin: ($size/2) ($size/2) (-$size/2)

        >
            .top
                transform: rotateX(90deg) translate3d(0, -$size/2, $size/2)
            .bottom
                transform: rotateX(-90deg) translate3d(0, $size/2, $size/2)
            .left
                transform: rotateY(-90deg) translate3d(-$size/2, 0, $size/2)
            .right
                transform: rotateY(90deg) translate3d($size/2, 0, $size/2)
            .back
                transform: rotateY(180deg) translate3d(0, 0, $size)
            
@media only screen and (min-width : 320px) and (max-width : 500px)
    @include cubeTransform(300px)

@media only screen and (max-width : 806px)
    nav
        ul
            float: none !important


    nav > ul.fullWidth, .social.fullWidth
        @for $i from 1 through 10
            li:first-child:nth-last-child( #{$i} ),
            li:first-child:nth-last-child( #{$i} ) ~ li
                width: 100% / $i

    .fullWidth
        width: 100% !important
    
    .coin > textarea
        &.fullWidth
            position: absolute
            left: 0
            padding: 4px 10px 4px 28px !important

    .crypto > .fullWidth:hover::after
        display: none


    footer
        max-height: 128px

    li
        &.bitcoin:hover
            width: 100% !important
            text-align: center

        &.coin > a > textarea
            width: 100% !important
            text-align: center

    #bParent:hover
        width: 100% !important
        text-align: center

@media only screen and (min-width : 768px) and (max-width : 1024px)
    @include cubeTransform(600px)

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape)
    @include cubeTransform(600px)

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait)
    @include cubeTransform(600px)

@media screen and (max-width: 320px) and (min-height : 200px)
    @include cubeTransform(200px)

@media screen and (min-width: 320px) and (min-height : 300px)
    @include cubeTransform(300px)

@media only screen and (min-width: 500px) and (min-height : 400px)
    @include cubeTransform(400px)

@media only screen and (min-width: 800px) and (min-height : 600px)
    @include cubeTransform(600px)

@media only screen and (min-width : 1024px) and (min-height : 800px)
    @include cubeTransform(800px)

@media only screen and (min-width : 1824px) and (min-height : 1000px)
    @include cubeTransform(1000px)