@font-face {
    font-family: 'Macula';
    src: url('../fonts/Macula-Solid.woff') format('woff');
    src: url('../fonts/Macula-Solid.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

body.nojs-styles {
    color: white;
    font-family: Hack, monospace;
    background-color: rgb(14, 14, 14);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.nojs-styles ul {
    margin: 0;
    display: inline-block;
}

body.nojs-styles::selection {
    background: #7600a1;
    text-shadow: none;
}

body.nojs-styles .repo-stars::after {
    margin-left: 4px;
    content: '\2605';
}

body.nojs-styles header, body.nojs-styles #contact-form {
    display: none;
}

body.nojs-styles .content {
    margin: 0 15%;
    overflow-x: hidden;
}

body.nojs-styles .content-section {
    margin: 0 32px;
}

body.nojs-styles .field {
    margin-bottom: 32px;
    padding: 8px;
}

body.nojs-styles fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

body.nojs-styles h1 {
    font-family: 'Macula', 'serif';
    font-size: 6vmin;
    text-align: center;
    margin: 16px 0;
}

body.nojs-styles h2 {
    font-family: 'Macula', 'serif';
    font-size: 4vmin;
    margin: 16px 0;
}

body.nojs-styles h3 {
    font-size: 18px;
    margin: 0;
    padding: 8px;
}

body.nojs-styles a {
    color: white;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}

body.nojs-styles ul {
    list-style-type: none;
}

body.nojs-styles .content-section li {
    width: 100%;
    float: left;
}

body.nojs-styles .field .title,
body.nojs-styles .social li {
    padding: 8px;
    transition: all 0.2s ease-in-out;
}

body.nojs-styles .field.hover:hover .title,
body.nojs-styles .social li:hover {
    background-color: #7600a1;
}

body.nojs-styles input,
body.nojs-styles textarea {
    width: 100%;
    max-width: 500px;
    border: none;
}

body.nojs-styles label {
    width: 100%;
    display: block;
}

body.nojs-styles .face {
    width: 100%;
    float: left;
}

body.nojs-styles .face .content-section ul > li::before {
    font-family: 'Macula', 'serif';
    content: '>';
    display: inline-block;
    font-size: 48px;
    float: left;
    padding-right: 4px;
    margin: 4px 0;
}

body.nojs-styles .face .content-section ul > li ul > li::before {
    font-size: 24px;
    line-height: 48px;
}

body.nojs-styles .face .content-section ul > li ul > li {
    margin: 0;
}

body.nojs-styles footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

body.nojs-styles nav > ul,
body.nojs-styles footer > ul {
    margin: 0;
}

body.nojs-styles footer > ul > li,
body.nojs-styles .repo {
    display: inline-block;
    float: left;
}

body.nojs-styles footer > ul > li {
    margin-right: 16px;
}

body.nojs-styles .nojs-info {
    padding: 6px;
    background-color: #7600a1;
    font-size: 14px;
    text-align: center;
}
