@font-face {
    font-family: 'Macula';
    src: url('../fonts/Macula-Solid.woff') format('woff');
    src: url('../fonts/Macula-Solid.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.nojs-styles {
    color: white;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    background-color: black;
    background-image: radial-gradient(rgba(31, 60, 86, 0.75), black 120%);
    margin: 0;
    padding: 0;
    height: 100vh;
}

body.nojs-styles::selection {
    background: #0f8f83;
    text-shadow: none;
}

body.nojs-styles .repo-stars::after {
    margin-left: 4px;
    content: '\2605';
}

body.nojs-styles header,
body.nojs-styles #crypto,
body.nojs-styles #contact-wrapper {
    display: none;
}

body.nojs-styles #content {
    margin: 0 15%;
}

body.nojs-styles .content {
    margin: 0 32px;
}

body.nojs-styles .field {
    margin-bottom: 16px;
}

body.nojs-styles fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

body.nojs-styles h1 {
    font-family: 'Macula', 'serif';
    font-size: 6vmin;
    text-align: center;
    margin: 16px 0;
}

body.nojs-styles h2 {
    font-family: 'Macula', 'serif';
    font-size: 4vmin;
    margin: 16px 0;
}

body.nojs-styles h3 {
    font-size: 18px;
    margin: 0 0 16px 0;
}

body.nojs-styles a {
    color: white;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}

body.nojs-styles ul {
    list-style-type: none;
}

body.nojs-styles .content li {
    margin: 12px 0;
    width: 100%;
    float: left;
}

body.nojs-styles .field,
body.nojs-styles .social li {
    transition: all 0.2s ease-in-out;
}

body.nojs-styles .field:hover,
body.nojs-styles .social li:hover {
    text-shadow: 0 0 16px white;
}

body.nojs-styles input,
body.nojs-styles textarea {
    width: 100%;
    max-width: 500px;
    border: none;
}

body.nojs-styles label {
    width: 100%;
    display: block;
}

body.nojs-styles .face {
    width: 100%;
    float: left;
}

body.nojs-styles .face .content ul > li::before {
    font-family: 'Macula', 'serif';
    content: '>';
    font-size: 48px;
    float: left;
    line-height: 16px;
    margin-right: 10px;
    height: 24px;
}

body.nojs-styles footer {
    width: 100%;
    margin: 0 15%;
    background-color: rgba(29, 54, 75, 1);
}

body.nojs-styles nav > ul,
body.nojs-styles footer > ul {
    margin: 0;
}

body.nojs-styles footer > ul > li,
body.nojs-styles .repo {
    display: block;
    float: left;
}

body.nojs-styles footer > ul > li {
    margin-right: 16px;
}

body.nojs-styles #nojs {
    padding: 6px;
    background-color: rgba(31, 60, 86, 1);
    font-size: 14px;
    text-align: center;
}

body.nojs-styles #swipe-indicator,
body.nojs-styles #footnote {
    display: none;
}
