/* Colours */
$color-background: black;
$color-content: rgba(45, 0, 61, 0.4);
$color-content-highlight: #7600a1;
$color-content-secondary: rgba(14, 13, 14, 0.8);
$color-content-secondary-highlight: $color-content-secondary;
$color-text: white;
$color-text-highlight: $color-text; /* Applies to all click-able text (buttons. links, etc) */
$color-text-link-highlight: $color-content-highlight; /* Overrides the above, but only for text with class .link */
$color-heading: $color-text;
$color-text-placeholder: $color-text;
$color-text-placeholder_highlight: $color-text-highlight;
$color-title-banner: rgba(31, 31, 31, 0.8);
$color-shadow: rgba(0, 0, 0, 0.75);
$color-scrollbar: $color-content;
$color-scrollbar_track: $color-content;
$color-scrollbar_thumb: $color-title-banner;
$color-outline: rgba(110, 110, 110, 0.8);

// Content Cube
$filter-face-no-focus: brightness(20%);

// Isometric cubes
$color-iso: black;
$color-iso-top: $color-iso;
$color-iso-left: $color-iso;
$color-iso-right: $color-iso;
$color-iso-back-left: $color-iso;
$color-iso-back-right: $color-iso;
$color-iso-bottom: $color-iso;

$color-iso-stroke: $color-content-highlight;

$color-hover-iso-front: rgba(0, 0, 0, 0.75);
$color-hover-iso-top: $color-hover-iso-front;
$color-hover-iso-left: $color-hover-iso-front;
$color-hover-iso-right: $color-hover-iso-front;

$color-hover-iso-back: rgba(118, 0, 161, 0.5);
$color-hover-iso-bottom: $color-hover-iso-back;
$color-hover-iso-back-left: $color-hover-iso-back;
$color-hover-iso-back-right: $color-hover-iso-back;

// Social
$color-twitter: #00aced;
$color-mastodon: #3088d4;
$color-linkedin: #4875b4;
$color-github: #4183c4;
$color-bitcoin: #f7931a;
$color-ethereum: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);
$color-keybase: #4c8eff;

// UX
$color-success: #15a12a;
$color-error: #a51818;

/* URLs */
$url-ethereum: url('../assets/images/icons/icon_ethereum.png');
$url-bitcoin: url('../assets/images/icons/icon_bitcoin.png');
$url-github: url('../assets/images/icons/icon_github.png');
$url-gpg: url('../assets/images/icons/icon_gpg.png');
$url-twitter: url('../assets/images/icons/icon_twitter.png');
$url-mastodon: url('../assets/images/icons/icon_mastodon.png');
$url-linkedin: url('../assets/images/icons/icon_linkedin.png');
$url-keybase: url('../assets/images/icons/icon_keybase.png');
$url-refresh: url('../assets/images/icons/icon_refresh.png');

/* Fonts */
$font-macula: 'Macula';
$font-main: Hack, monospace;

$width-full-button: 125px;
$width-icon-button: 50px;

@font-face {
    font-family: $font-macula;
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/Macula-Solid.woff') format('woff');
    src: url('../assets/fonts/Macula-Solid.woff2') format('woff2');
}

/* Extends */
%macula {
    font-family: $font-macula, serif;
    font-display: swap;
    text-transform: uppercase;
    color: $color-heading;
}

%list {
    margin: 0;
    padding: 0;
    list-style: none;
}

%form-layout {
    width: 100%;
    text-align: center;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    color: $color-text;
}

%form-input-style {
    @extend %form-layout;
    @extend %transition-ease;
    font-family: $font-main;
    font-size: 16px;
    background-color: $color-content-secondary;
    &:hover,
    &:focus {
        background: $color-content-secondary-highlight;
        color: $color-text-highlight;
        outline: none;
        &::placeholder {
            color: $color-text-placeholder_highlight;
            opacity: 0.5;
        }
    }
    &::placeholder {
        @extend %transition-ease;
        color: $color-text-placeholder;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: $color-text;
        box-shadow: 0 0 0 100px $color-content-secondary inset;
    }
}

%field-title-style {
    @extend %form-layout;
    display: block;
    background: $color-title-banner;
    font-weight: bold;
    @extend %outline-dotted;
}

%no-select {
    -webkit-touch-callout: none;
    user-select: none;
}

%allow-select-text {
    user-select: text;
}

%full-screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

%button-icon {
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    margin: 4px auto;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

%transition-ease {
    transition: all 200ms ease;
}

%transition-ease-in-out {
    transition: all 500ms ease-in-out;
}

%transition-ease-out {
    transition: all 500ms ease-out;
}

%transition-cube {
    transition-property: transform;
    transition: all 500ms linear;
}

%threed-side {
    content: '';
    display: block;
    position: absolute;
    width: inherit;
    height: 32px;
    transform-style: preserve-3d;
    background: inherit;
}

%threed-side-top {
    @extend %threed-side;
    filter: brightness(120%);
    transform: rotateX(60deg) translate3d(0, -50%, 0);
    top: -16px;
}

%threed-side-bottom {
    @extend %threed-side;
    filter: brightness(60%);
    transform: rotateX(-60deg) translate3d(0, 50%, 0);
    top: 16px;
}

/* Main styles */
::selection {
    background-image: none;
    background: $color-content-highlight;
    color: $color-text-highlight;
}

html {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    @extend %no-select;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: $font-main;
    color: $color-text;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-rendering: geometricPrecision;
}

h1 {
    display: inline-block;
    font-size: 6vmin;
    @extend %macula;
}

h2 {
    display: inline-block;
    font-size: 6vmin;
    @extend %macula;
}

h3 {
    display: inline-block;
    font-weight: bold;
    padding: 8px;
}

h4 {
    font-size: 16px;
    margin: 0;
    .superscript {
        font-size: 0.6em;
    }
}

h5 {
    font-weight: 100;
}

p {
    margin: 8px 0;
}

a {
    color: $color-text;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    @extend %transition-ease;
    &:active {
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        color: $color-text-highlight;
    }
}

p {
    font-weight: 100;
}

strong {
    font-weight: 600;
}

textarea {
    line-height: 24px;
    text-decoration: none;
    @extend %form-input-style;
}

li {
    @extend %list;
}

nav,
footer {
    ul > li > a {
        width: 100%;
        height: 100%;
        display: inline-block;
    }
}

ul {
    @extend %list;
    &.social {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: nowrap;

        > li {
            @extend %transition-ease;
            width: $width-icon-button;
            cursor: pointer;

            &:hover {
                background: $color-content-highlight;
                color: $color-text-highlight;

                &::after {
                    @extend %threed-side-top;
                    @extend %outline-dotted;
                }
            }

            &.twitter {
                &:hover {
                    background: $color-twitter;
                }
                a::before {
                    @extend %button-icon;
                    background-image: $url-twitter;
                }
            }

            &.mastodon {
                &:hover {
                    background: $color-mastodon;
                }
                a::before {
                    @extend %button-icon;
                    background-image: $url-mastodon;
                }
            }

            &.gpg {
                a::before {
                    @extend %button-icon;
                    background-image: $url-gpg;
                }
            }

            &.linkedin {
                &:hover {
                    background: $color-linkedin;
                }
                a::before {
                    @extend %button-icon;
                    background-image: $url-linkedin;
                }
            }

            &.github {
                &:hover {
                    background: $color-github;
                }
                a::before {
                    @extend %button-icon;
                    background-image: $url-github;
                }
            }

            &.keybase {
                &:hover {
                    background: $color-keybase;
                }
                a::before {
                    @extend %button-icon;
                    background-image: $url-keybase;
                }
            }

            > a h4 {
                text-align: center;
            }
        }
    }
}

fieldset {
    @extend %form-layout;

    .title,
    button {
        @extend %field-title-style;
    }
}

input {
    @extend %form-input-style;
}

audio {
    display: none;
}

nav {
    width: inherit;
    display: flex;

    > ul {
        width: inherit;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: nowrap;

        > li {
            width: $width-full-button;
            height: 32px;
            @extend %transition-ease;

            &::after {
                @extend %threed-side-bottom;
                @extend %outline-dotted;
            }

            &:hover,
            &.selected {
                background: $color-content-highlight;
                > a {
                    color: $color-text-highlight;
                }
            }

            > a {
                > h4 {
                    line-height: 32px;
                }
            }
        }
    }
}

#background {
    background: $color-background;
    @extend %full-screen;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %full-screen;
}

.nojs {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
}

button {
    @extend %transition-ease;
    cursor: pointer;
    &:hover {
        background: $color-content-highlight;
        color: $color-text-highlight;
    }
}

.link {
    &:hover,
    &:focus {
        color: $color-text-link-highlight;
    }
}

.button {
    cursor: pointer;
    span {
        @extend %transition-ease;
        padding: 0 5px;
    }

    &:hover span {
        @extend %transition-ease;
        background: $color-content-highlight;
        color: $color-text-highlight;
    }
}

.superscript {
    vertical-align: super;
}

.copyright {
    margin: 4px 10px;
    text-align: center;
}

.banner {
    height: 32px;
    width: 100%;
    > h4 {
        margin: 4px 10px;
        text-align: center;
    }
}

.error,
.error::before,
.error::after,
.error:hover {
    background-color: $color-error !important;
}

.success,
.success::before,
.success::after,
.success:hover {
    background-color: $color-success !important;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

footer {
    background: $color-content;
    width: 100%;
    max-height: 32px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    @extend %outline-dotted;

    &::after {
        height: 32px;
        @extend %threed-side-top;
        @extend %outline-dotted;
    }
}

header {
    background: $color-content;
    width: 100%;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    @extend %outline-dotted;

    &::after {
        @extend %threed-side-bottom;
        @extend %outline-dotted;
    }
}

/* Escher cube background styles */
#isobg {
    width: 100%;
    height: 100%;
}

@keyframes iso-dash {
    from {
        stroke-dashoffset: 0%;
    }
    to {
        stroke-dashoffset: 50%;
    }
}

%stroke-network {
    stroke: $color-iso-stroke;
    stroke-dasharray: 4pt, 0, 0, 100px;
    stroke-width: 2pt;
    stroke-linejoin: round;
    stroke-linecap: round;
    will-change: stroke-dashoffset;
}

%stroke-network-animation {
    animation: iso-dash 30s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

%outline-dotted {
    outline: 1px dotted $color-outline;
    outline-offset: -1px;
}

%scrollable {
    width: inherit;
    height: inherit;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;

    &::-webkit-scrollbar-track {
        background: $color-scrollbar_track;
    }

    &::-webkit-scrollbar {
        background: $color-scrollbar;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-scrollbar_thumb;

        &:hover,
        &:active {
            background: $color-content-highlight;
            color: $color-text-highlight;
        }
    }

    scrollbar-width: wide;
    scrollbar-track-color: $color-scrollbar_track;
    scrollbar-base-color: $color-scrollbar;
    scroll-behavior: smooth;
}

.iso {
    > rect {
        stroke-opacity: 0%;
        @extend %outline-dotted;
        @extend %stroke-network;
        @extend %transition-ease;
    }

    > .iso-left {
        fill: $color-iso-left;
    }

    > .iso-right {
        fill: $color-iso-right;
    }

    > .iso-top {
        fill: $color-iso-top;
    }

    > .iso-back-left {
        fill: $color-iso-back-left;
    }

    > .iso-back-right {
        fill: $color-iso-back-right;
    }

    > .iso-bottom {
        fill: $color-iso-bottom;
    }

    &:hover {
        > rect {
            stroke-opacity: 100%;
            @extend %stroke-network-animation;
        }

        > .iso-left {
            fill: $color-hover-iso-left;
        }

        > .iso-right {
            fill: $color-hover-iso-right;
        }

        > .iso-top {
            fill: $color-hover-iso-top;
        }

        > .iso-back-left {
            fill: $color-hover-iso-back-left;
        }

        > .iso-back-right {
            fill: $color-hover-iso-back-right;
        }

        > .iso-bottom {
            fill: $color-hover-iso-bottom;
        }
    }
}

@keyframes escher {
    from {
        transform: rotateX(-35deg) rotateY(45deg) scale3d(0.5, 0.5, 0.5);
    }
    to {
        transform: rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    }
}

.content-cube-wrapper {
    display: contents;
}

.content-cube {
    @extend %transition-cube;
    transform-style: preserve-3d;
    will-change: transform;

    // animation: escher 1s ease-in;

    > .face {
        transform-style: flat;
        display: flex;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        position: absolute;
        background: $color-content;
        filter: $filter-face-no-focus;
        pointer-events: none; /* Disable all links until the face has .focus */
        transition-property: filter;
        will-change: filter;
        box-sizing: border-box;
        @extend %transition-ease-in-out;
        @extend %outline-dotted;

        > .content {
            flex: auto;
            max-width: 100%;
            box-sizing: border-box;
            transform-style: flat;
            padding: 0 10%;
            overflow-wrap: break-word;

            ul.list {
                display: block;
                overflow: auto;

                li {
                    padding: 8px 0 0 0;
                    width: 100%;
                    text-align: left;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    overflow-wrap: break-word;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        margin: 0;
                        word-wrap: auto;
                        width: 100%;

                        &::before {
                            @extend %macula;
                            content: '>';
                            margin: 0 8px 0 0;
                            font-size: 48px;
                        }
                    }

                    > ul {
                        margin: 0 0 0 24px;

                        > li {
                            margin: 0 0 4px 0;

                            p::before {
                                font-size: 32px;
                            }
                        }
                    }
                }
            }

            > .description {
                margin-bottom: 32px;
            }
        }

        &.focus {
            pointer-events: auto; /* Enable links */
            filter: none;
            z-index: 2;
            @extend %scrollable;
        }
    }
}

.perspective {
    > button {
        height: 32px;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        font-weight: bold;
        transform-style: preserve-3d;
        @extend %outline-dotted;

        &::after {
            @extend %threed-side-top;
            @extend %outline-dotted;
        }

        &:active {
            transform: scale3d(0.98, 0.98, 1);
        }
    }
}

.field {
    background-color: $color-content-secondary;
    margin-bottom: 32px;
    @extend %outline-dotted;

    &.textarea {
        outline: none;
    }

    &.hover:hover {
        background: $color-content-secondary-highlight;

        .title {
            background-color: $color-content-highlight;
        }
    }

    .title {
        @extend %field-title-style;

        h2 {
            font-size: 3vmin;
            margin: 8px 0;
        }

        h3 {
            margin: 0;
        }
    }

    label.title {
        line-height: 32px;
    }

    &.perspective {
        margin-top: 16px;

        .title,
        > button {
            font-size: 16px;
            min-height: 32px;
            @extend %outline-dotted;
            @extend %transition-ease;

            &::after {
                @extend %threed-side-top;
                @extend %outline-dotted;
            }
        }

        input {
            height: 32px;
        }

        textarea {
            @extend %outline-dotted;
            resize: vertical;
            height: 128px;
            min-height: 128px;
        }

        > ul {
            padding: 16px;
            display: inline-block;
        }
    }
}

/* Contact form stuff */
#captcha {
    /* The input */
    text-transform: uppercase;
    &::placeholder {
        text-transform: none;
    }
}

#captcha-img {
    width: 80px;
    height: 20px;
    top: 4px;
    position: relative;
    padding: 0 0 4px 6px;
    background-color: $color-title-banner;
}

#captcha-refresh-btn {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: $url-refresh;
    background-size: contain;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
}

/* Blog and Repository stuff */
.feed {
    box-sizing: border-box;

    > .feed-item {
        @extend %transition-ease;

        &:hover {
            .blog-post-title,
            .blog-post-tag,
            .repo-title,
            .repo-language,
            .repo-stars {
                background: $color-content-highlight;
                color: $color-text-highlight;
            }
        }

        .feed-item-content {
            padding: 8px 16px 16px 16px;
        }
    }
}

.blog-post-tags,
.repo-stats {
    line-height: 32px;
    text-align: center;
}

.repo-stars {
    &::after {
        margin-left: 4px;
        content: '\2605';
        font-size: 22px;
    }
}

.blog-post-tag,
.repo-stars,
.repo-language {
    padding: 4px;
    background-color: $color-title-banner;
    @extend %transition-ease;
    @extend %outline-dotted;
}

.blog-post-snippet,
.repo-description {
    margin: 0;
}

.blog-post-date,
.repo-updated-date {
    padding: 8px;
    display: block;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}
