// Colours
$color_background: #181411
$white: #fff
$color_highlight: #0f8f83
$color_main: rgba(29, 54, 75, 0.8)
$color_main_shadow: rgba(20, 39, 56, 0.8)
$color_main_light: rgba(31, 60, 86, 0.8)
$color_content_dark: rgba(25, 40, 53, 0.8)
$color_field_title: rgba(69, 83, 95, 0.8)
$color_twitter: #00aced
$color_linkedin: #4875b4
$color_github: #4183c4
$color_bitcoin: #f7931a
$color_ethereum: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed)
$black_100: rgba(0, 0, 0, 1)
$black_75: rgba(0, 0, 0, 0.75)
$color_scrollbar: $color_main
$color_scrollbar_track: $color_main
$color_scrollbar_thumb: $color_field_title
$color_keybase: #4c8eff
$color_success: #15a12a
$color_error: #a51818

// URLs
$url-background: url('../images/bg.jpg')
$url-ethereum: url('../images/icons/icon_ethereum.png')
$url-bitcoin: url('../images/icons/icon_bitcoin.png')
$url-github: url('../images/icons/icon_github.png')
$url-twitter: url('../images/icons/icon_twitter.png')
$url-linkedin: url('../images/icons/icon_linkedin.png')
$url-keybase: url('../images/icons/icon_keybase.png')

$url-macula: url('../fonts/Macula-Solid.woff')

// Fonts
$font-macula: 'Macula'
$font-opensans: 'Open Sans'
$sans-serif: 'sans-serif'
$serif: 'serif'

$width-full-button: 125px
$width-icon-button: 50px

@font-face
    font-family: $font-macula
    font-style: normal
    font-weight: bold
    src: $url-macula format('woff')


// Extends
%heading
    font-family: $font-macula, $serif
    text-transform: uppercase
    margin: 0 0 32px 0
    display: inline-block
    text-rendering: geometricPrecision


%list
    margin: 0
    padding: 0
    list-style: none


%form-layout
    width: 100%
    text-align: center
    border: none
    box-shadow: none
    padding: 0
    margin: 0
    color: $white


%form-input-style
    @extend %form-layout
    background: $color_content_dark


%field-title-style
    @extend %form-layout
    display: block
    background: $color_field_title
    font-weight: bold


%no-select
    touch-callout: none
    user-select: none

%allow-select-text
    user-select: text

%full-screen
    width: 100%
    height: 100%
    overflow: hidden
    position: absolute
    top: 0;
    left: 0;

%list-element
    float: left
    line-height: 24px
    height: 32px

%button-icon
    display: block
    content: ''
    width: 24px
    height: 24px
    margin: 4px auto
    position: relative
    background-size: cover
    background-repeat: no-repeat
    background-position: center center

%transition-ease
    transition: all 200ms ease


%transition-ease-in-out
    transition: all 1s ease-in-out


%transition-cube
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1)


%3d-side
    z-index: 2
    content: ''
    display: block
    position: absolute
    width: inherit
    height: 32px
    transform-style: preserve-3d
    background: inherit

%3d-side-top
    @extend %3d-side
    filter: brightness(120%)
    transform: rotateX(60deg) translate3d(0, -50%, 0)
    top: -16px

%3d-side-bottom
    @extend %3d-side
    filter: brightness(60%)
    transform: rotateX(-60deg) translate3d(0, 50%, 0)
    top: 16px

// Main styles
*
    tap-highlight-color: rgba(0, 0, 0, 0)
    font-family: $font-opensans, $sans-serif
    @extend %no-select

::selection
    background-image: none
    background: $color_highlight

html
    height: 100%
    min-height: 100%
    overflow: hidden

body
    color: $white
    height: 100%
    min-height: 100%
    margin: 0
    padding: 0
    overflow: hidden

h1
    font-size: 6vmin
    @extend %heading
    font-weight: 100

h2
    font-size: 6vmin
    @extend %heading
    font-weight: 100

h3
    font-size: 1em
    font-weight: bold
    padding: 8px

h4
    margin: 0
    line-height: 24px
    font-weight: 100
    .superscript
        line-height: 16px
        font-size: 0.6em

h5
    font-weight: 100

a
    color: $white
    text-decoration: none
    outline: none
    @extend %transition-ease
    &:active
        outline: none

    &:focus
        outline: none

p
    font-weight: 100

strong
    font-weight: 400

textarea
    line-height: 24px
    text-decoration: none
    @extend %form-input-style

li
    @extend %list

nav, footer
    ul > li > a
        width: 100%
        height: 100%
        display: inline-block

ul
    @extend %list
    &.social
        display: inline-block
        > li
            @extend %transition-ease
            @extend %list-element
            width: $width-icon-button
            cursor: pointer

            &:hover
                background: $color_highlight
                &::after
                    @extend %3d-side-top

            &.twitter
                &:hover
                    background: $color_twitter
                a::before
                    @extend %button-icon
                    background-image: $url-twitter

            &.linkedin
                &:hover
                    background: $color_linkedin
                a::before
                    @extend %button-icon
                    background-image: $url-linkedin

            &.github
                &:hover
                    background: $color_github
                a::before
                    @extend %button-icon
                    background-image: $url-github

            &.keybase
                &:hover
                    background: $color_keybase
                a::before
                    @extend %button-icon
                    background-image: $url-keybase

            > a h4
                padding: 4px 10px
                text-align: center

    &#crypto
        display: inline-block
        > li
            @extend %transition-ease
            @extend %list-element
            > textarea
            @extend %transition-ease

            &.coin
                width: $width-full-button
                > textarea
                    @extend %allow-select-text
                    width: 90px
                    padding: 4px 10px 4px 4px
                    text-align: center
                    box-sizing: border-box
                    height: 32px
                    background: transparent
                    border: none
                    resize: none
                    overflow: hidden
                    cursor: pointer
                    &:focus
                        outline: 0 none transparent
                &::before
                    margin: 4px
                    float: left

            &:hover
                &::after
                    @extend %3d-side-top

            &.bitcoin
                &:hover
                    background: $color_bitcoin
                &::before
                    @extend %button-icon
                    background-image: $url-bitcoin


            &.ethereum
                &:hover
                    background: $color_ethereum
                &::before
                    @extend %button-icon
                    background-image: $url-ethereum

section
    a
        font-weight: bold !important

    ul li
        @extend %transition-ease


fieldset
    @extend %form-layout

    label, button
        @extend %field-title-style

input
    @extend %form-input-style

audio
    display: none

nav
    width: inherit
    display: inline-block
    > ul
        width: inherit
        display: inline-block
        > li
            @extend %list-element
            width: $width-full-button


    ul li
        @extend %transition-ease
        &:hover, &.selected
            background: $color_highlight
            &::after
                @extend %3d-side-bottom


        > a h4
            padding: 4px 10px
            text-align: center

#background
    background-image: $url-background
    background-position: center center
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    //background: $color_background
    z-index: 1
    @extend %full-screen

#content
    z-index: 2
    @extend %full-screen

#nojs, .nojs
    display: none

body
    width: 100%
    height: 100%
    text-align: center

button
    cursor: pointer
    &:hover
        @extend %transition-ease
        background: $color_highlight

.button
    cursor: pointer
    span
        @extend %transition-ease
        padding: 0 5px

    &:hover span
        @extend %transition-ease
        background: $color_highlight

.superscript
    vertical-align: super

.copyright
    margin: 4px 10px
    text-align: center

.banner
    height: 32px
    width: 100%
    > h4
        margin: 4px 10px
        text-align: center

.error, .error::before, .error::after
    background-color: $color_error

.success .success::before, .success::after
    background-color: $color_success

.left
    float: left

.right
    float: right

.hidden
    display: none

.clear
    clear: both

.inline-block
    display: inline-block

.inline
    display: inline

footer
    background: $color_main
    width: 100%
    max-height: 32px
    position: fixed
    bottom: 0
    left: 0
    z-index: 2

header
    background: $color_main
    width: 100%
    height: 32px
    position: fixed
    top: 0
    left: 0
    z-index: 9999

// Escher cube background styles
#isobg
    width: 100%
    height: 100%

.iso
    .iso-left
        fill: rgba(195, 190, 190, 0.15)

    .iso-right
        fill: rgba(132, 132, 132, 0.15)

    .iso-top
        fill: rgba(255, 255, 255, 0.15)

// 3D content cube styles
// @keyframes cube-spin-in
//     0%
//         transform: rotateY(-45deg) rotateX(-15deg) rotateZ(15deg) scale3d(0, 0, 0)
//     100%
//         transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale3d(1, 1, 1)

#mainCube
    @extend %transition-cube
    position: relative
    display: inline-block
    top: 64px
    //animation: 2s linear 0s 1 cube-spin-in

    .face.focus
        filter: brightness(100%)
        box-shadow: none
        z-index: 9999

        >
            .content
                opacity: 1

.cube
    transform-style: preserve-3d

.face
    width: 100%
    height: 100%
    overflow-y: auto
    overflow-x: hidden
    position: absolute
    box-shadow: $black_75 0px 0px 64px 8px inset
    background: $color_main
    filter: brightness(10%)
    z-index: 100
    @extend %transition-ease-in-out

    &::-webkit-scrollbar-track
        background: $color_scrollbar_track

    &::-webkit-scrollbar
        background: $color_scrollbar
        width: 8px

    &::-webkit-scrollbar-thumb
        background: $color_scrollbar_thumb

        &:hover, &:active
            background: $color_highlight

    .content
        margin: 32px 10%

        ul li
            width: 100%
            float: left
            text-align: left
            margin: 5px 0

            &::before
                content: '>'
                float: left
                margin: 0 10px 0 0
                @extend %heading

        > ul > li
            &::before
                line-height: 28px
                font-size: 5vmin

            > ul
                margin-left: 40px
                > li
                    &::before
                        line-height: 18px
                        font-size: 3vmin

        p
            @extend %allow-select-text
            text-align: left

        .description
            margin-bottom: 32px

header::after
    z-index: 1
    @extend %3d-side-bottom

footer::after
    z-index: 1
    height: 32px
    @extend %3d-side-top

.field.perspective
    margin-bottom: 32px

    .title
        min-height: 32px
        line-height: 2em;
        &::after
            @extend %3d-side-top

    button
        height: 32px
        width: 100%
        margin: 0
        padding: 0
        border: none
        font-weight: bold

        &::after
            @extend %3d-side-top

        &:active
            transform: scale3d(0.98, 0.98, 0.98)

    input
        height: 32px

    textarea
        resize: vertical
        height: 128px

/* Contact form stuff */
#contact-form
    margin-top: 16px
/*                    */

/* Blog and Repository stuff */
.blog-post, .repo
    margin-bottom: 32px !important
    a
        font-weight: normal !important
        &:hover
            .blog-post-title, .repo-title
                @extend %transition-ease
                background: $color_highlight
    &::before
        display: none !important

.blog-post-content, .repo-content
    background-color: $color-content-dark
    padding: 8px 16px 16px 16px

.blog-post-title, .repo-title
    @extend %field-title-style
    h3
        margin: 0

.blog-post-tags, .repo-stats
    line-height: 32px
    text-align: center
    background-color: $color-content-dark

.repo-stars
    &::after
        margin-left: 4px 
        content: '\2605'

.blog-post-tag, .repo-stars, .repo-language
    border-radius: 4px
    padding: 4px
    background-color: $color-field-title

.blog-post-snippet, .repo-description
    margin: 0

.blog-post-date, .repo-updated-date
    background-color: $color-content-dark
    padding: 8px
    display: block
    font-style: italic
    font-size: 14px
    text-align: center

/*            */