/* Colours */
$color-background: black;
$color-content: rgba(40, 39, 41, 0.95);
$color-content_highlight: #7600a1;
$color-content_secondary: #0e0d0e;
$color-content_secondary_highlight: $color-content_secondary;
$color-text: white;
$color-text_highlight: $color-text; /* Applies to all click-able text (buttons. links, etc) */
$color-text-link-highlight: $color-content_highlight; /* Overrides the above, but only for text with class .link */
$color-heading: $color-text;
$color-text_placeholder: $color-text;
$color-text_placeholder_highlight: $color-text_highlight;
$color-title_banner: #363636;
$color-shadow: rgba(0, 0, 0, 0.75);
$color-scrollbar: $color-content;
$color-scrollbar_track: $color-content;
$color-scrollbar_thumb: $color-title_banner;

// Content Cube
$filter-face-no-focus: brightness(20%);

// Isometric cubes
$color-iso: black;
$color-iso-top: $color-iso;
$color-iso-left: $color-iso;
$color-iso-right: $color-iso;
$color-iso-back-left: $color-iso;
$color-iso-back-right: $color-iso;
$color-iso-bottom: $color-iso;

$color-iso-stroke: $color-content_highlight;
$color-iso-outline: rgba(110, 110, 110, 0.7);

$color-hover-iso-front: rgba(0, 0, 0, 0.5);
$color-hover-iso-top: $color-hover-iso-front;
$color-hover-iso-left: $color-hover-iso-front;
$color-hover-iso-right: $color-hover-iso-front;

$color-hover-iso-back: rgba(118, 0, 161, 0.2);
$color-hover-iso-bottom: $color-hover-iso-back;
$color-hover-iso-back-left: $color-hover-iso-back;
$color-hover-iso-back-right: $color-hover-iso-back;

// Social
$color-twitter: #00aced;
$color-mastodon: #3088d4;
$color-linkedin: #4875b4;
$color-github: #4183c4;
$color-bitcoin: #f7931a;
$color-ethereum: linear-gradient(90deg, #fca09a, #fcccd3, #ffcc9d, #98ddad, #81d7ec, #a0aaed);
$color-keybase: #4c8eff;

// UX
$color-success: #15a12a;
$color-error: #a51818;

/* URLs */
$url-ethereum: url('../assets/images/icons/icon_ethereum.png');
$url-bitcoin: url('../assets/images/icons/icon_bitcoin.png');
$url-github: url('../assets/images/icons/icon_github.png');
$url-twitter: url('../assets/images/icons/icon_twitter.png');
$url-mastodon: url('../assets/images/icons/icon_mastodon.png');
$url-linkedin: url('../assets/images/icons/icon_linkedin.png');
$url-keybase: url('../assets/images/icons/icon_keybase.png');
$url-refresh: url('../assets/images/icons/icon_refresh.png');

/* Fonts */
$font-macula: 'Macula';
$font-main: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;

$width-full-button: 125px;
$width-icon-button: 50px;

@font-face {
    font-family: $font-macula;
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/Macula-Solid.woff') format('woff');
    src: url('../assets/fonts/Macula-Solid.woff2') format('woff2');
}

/* Extends */
%heading {
    font-family: $font-macula, serif;
    text-transform: uppercase;
    margin: 0 0 16px 0;
    display: inline-block;
    text-rendering: geometricPrecision;
    color: $color-heading;
}

%list {
    margin: 0;
    padding: 0;
    list-style: none;
}

%form-layout {
    width: 100%;
    text-align: center;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    color: $color-text;
}

%form-input-style {
    @extend %form-layout;
    @extend %transition-ease;
    font-family: $font-main;
    font-size: 16px;
    background-color: $color-content_secondary;
    &:hover,
    &:focus {
        background: $color-content_secondary_highlight;
        color: $color-text_highlight;
        outline: none;
        &::placeholder {
            color: $color-text_placeholder_highlight;
            opacity: 0.5;
        }
    }
    &::placeholder {
        @extend %transition-ease;
        color: $color-text_placeholder;
    }
}

%field-title-style {
    @extend %form-layout;
    display: block;
    background: $color-title_banner;
    font-weight: bold;
}

%no-select {
    -webkit-touch-callout: none;
    user-select: none;
}

%allow-select-text {
    user-select: text;
}

%full-screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

%list-element {
    float: left;
    line-height: 24px;
    height: 32px;
}

%button-icon {
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    margin: 4px auto;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

%transition-ease {
    transition: all 200ms ease;
}

%transition-ease-in-out {
    transition: all 1s ease-in-out;
}

%transition-ease-out {
    transition: all 500ms ease-out;
}

%transition-cube {
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1);
}

%threed-side {
    z-index: 2;
    content: '';
    display: block;
    position: absolute;
    width: inherit;
    height: 32px;
    transform-style: preserve-3d;
    background: inherit;
}

%threed-side-top {
    @extend %threed-side;
    filter: brightness(120%);
    transform: rotateX(60deg) translate3d(0, -50%, 0);
    top: -16px;
}

%threed-side-bottom {
    @extend %threed-side;
    filter: brightness(60%);
    transform: rotateX(-60deg) translate3d(0, 50%, 0);
    top: 16px;
}

/* Main styles */
::selection {
    background-image: none;
    background: $color-content_highlight;
    color: $color-text_highlight;
}

html {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    @extend %no-select;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: $font-main;
    color: $color-text;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 6vmin;
    @extend %heading;
    font-weight: 100;
}

h2 {
    font-size: 6vmin;
    @extend %heading;
    font-weight: 100;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    padding: 8px;
}

h4,
.notification-text {
    margin: 0;
    line-height: 24px;
    font-weight: 100;
    .superscript {
        line-height: 16px;
        font-size: 0.6em;
    }
}

h5 {
    font-weight: 100;
}

p {
    margin: 8px 0;
}

a {
    color: $color-text;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    @extend %transition-ease;
    &:active {
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        color: $color-text_highlight;
    }
}

p {
    font-weight: 100;
}

strong {
    font-weight: 600;
}

textarea {
    line-height: 24px;
    text-decoration: none;
    @extend %form-input-style;
}

li {
    @extend %list;
}

nav,
footer {
    ul > li > a {
        width: 100%;
        height: 100%;
        display: inline-block;
    }
}

ul {
    @extend %list;
    &.social {
        display: inline-block;
        > li {
            @extend %transition-ease;
            @extend %list-element;
            width: $width-icon-button;
            cursor: pointer;

            &:hover {
                background: $color-content_highlight;
                color: $color-text_highlight;

                &::after {
                    @extend %threed-side-top;
                }
            }

            &.twitter {
                &:hover {
                    background: $color-twitter;
                }
                a::before {
                    @extend %button-icon;
                    background-image: $url-twitter;
                }
            }

            &.mastodon {
                &:hover {
                    background: $color-mastodon;
                }
                a::before {
                    @extend %button-icon;
                    background-image: $url-mastodon;
                }
            }

            &.linkedin {
                &:hover {
                    background: $color-linkedin;
                }
                a::before {
                    @extend %button-icon;
                    background-image: $url-linkedin;
                }
            }

            &.github {
                &:hover {
                    background: $color-github;
                }
                a::before {
                    @extend %button-icon;
                    background-image: $url-github;
                }
            }

            &.keybase {
                &:hover {
                    background: $color-keybase;
                }
                a::before {
                    @extend %button-icon;
                    background-image: $url-keybase;
                }
            }

            > a h4 {
                padding: 4px 10px;
                text-align: center;
            }
        }
    }

    &#crypto {
        display: inline-block;
        > li {
            @extend %transition-ease;
            @extend %list-element;
            &.coin {
                width: $width-full-button;
                > textarea {
                    @extend %allow-select-text;
                    width: 90px;
                    padding: 4px 10px 4px 4px;
                    text-align: center;
                    box-sizing: border-box;
                    height: 32px;
                    background: transparent;
                    border: none;
                    resize: none;
                    overflow: hidden;
                    cursor: pointer;
                    &:focus {
                        outline: 0 none transparent;
                    }
                }
                &::before {
                    margin: 4px;
                    float: left;
                }
            }

            &:hover {
                &::after {
                    @extend %threed-side-top;
                }
            }

            &.bitcoin {
                &:hover {
                    background: $color-bitcoin;
                }
                &::before {
                    @extend %button-icon;
                    background-image: $url-bitcoin;
                }
            }

            &.ethereum {
                &:hover {
                    background: $color-ethereum;
                }
                &::before {
                    @extend %button-icon;
                    background-image: $url-ethereum;
                }
            }
        }
    }
}

section {
    a {
        font-weight: bold !important;
    }

    ul li {
        @extend %transition-ease;
    }
}

fieldset {
    @extend %form-layout;

    .title,
    button {
        @extend %field-title-style;
    }
}

input {
    @extend %form-input-style;
}

audio {
    display: none;
}

nav {
    width: inherit;
    display: inline-block;
    > ul {
        width: inherit;
        display: inline-block;
        > li {
            @extend %list-element;
            width: $width-full-button;
        }
    }

    ul li {
        @extend %transition-ease;
        &:hover,
        &.selected {
            background: $color-content_highlight;
            > a {
                color: $color-text_highlight;
            }

            &::after {
                @extend %threed-side-bottom;
            }
        }

        > a h4 {
            padding: 4px 10px;
            text-align: center;
        }
    }
}

#background {
    background: $color-background;
    z-index: 1;
    @extend %full-screen;
}

#content {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %full-screen;
}

#nojs,
.nojs {
    display: none;
}

#footnote {
    display: inline-block;

    .footnote-header {
        display: inline-block;
        width: 100%;
        font-weight: bold;
        margin: 16px 0 8px 0;
    }
}

#swipe-indicator {
    @extend %transition-ease-out;
    z-index: 3;
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 32px;
    left: 0;
    background: $color-content;
    display: none;

    .notification-text {
        height: 100%;
        line-height: 32px;
        display: inline-block;

        &::before {
            @extend %heading;
            float: left;
            font-size: 24px;
            margin: 0 16px 0 0;
            content: '<<';
        }
    }

    &::after {
        @extend %threed-side-top;
    }

    &.swiped {
        left: -100%;
    }
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
}

button {
    @extend %transition-ease;
    cursor: pointer;
    &:hover {
        background: $color-content_highlight;
        color: $color-text_highlight;
    }
}

.link {
    &:hover,
    &:focus {
        color: $color-text-link-highlight;
    }
}

.button {
    cursor: pointer;
    span {
        @extend %transition-ease;
        padding: 0 5px;
    }

    &:hover span {
        @extend %transition-ease;
        background: $color-content_highlight;
        color: $color-text_highlight;
    }
}

.superscript {
    vertical-align: super;
}

.copyright {
    margin: 4px 10px;
    text-align: center;
}

.banner {
    height: 32px;
    width: 100%;
    > h4 {
        margin: 4px 10px;
        text-align: center;
    }
}

.error,
.error::before,
.error::after,
.error:hover {
    background-color: $color-error !important;
}

.success,
.success::before,
.success::after,
.success:hover {
    background-color: $color-success !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

footer {
    background: $color-content;
    width: 100%;
    max-height: 32px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}

header {
    background: $color-content;
    width: 100%;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* Escher cube background styles */
#isobg {
    width: 100%;
    height: 100%;
}

@keyframes iso-dash {
    from {
        stroke-dashoffset: 0%;
    }
    to {
        stroke-dashoffset: 50%;
    }
}

.iso {
    > rect {
        outline: 1px dotted $color-iso-outline;
        outline-offset: -1px;
        stroke-opacity: 0%;
        stroke: $color-iso-stroke;
        stroke-dasharray: 0.4rem, 0, 0, 100px;
        stroke-width: 2px;
        stroke-linejoin: round;
        stroke-linecap: round;
        will-change: stroke-dashoffset;
        @extend %transition-ease;
    }

    > .iso-left {
        fill: $color-iso-left;
    }

    > .iso-right {
        fill: $color-iso-right;
    }

    > .iso-top {
        fill: $color-iso-top;
    }

    > .iso-back-left {
        fill: $color-iso-back-left;
    }

    > .iso-back-right {
        fill: $color-iso-back-right;
    }

    > .iso-bottom {
        fill: $color-iso-bottom;
    }

    &:hover {
        > rect {
            stroke-opacity: 100%;
            animation: iso-dash 30s linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        > .iso-left {
            fill: $color-hover-iso-left;
        }

        > .iso-right {
            fill: $color-hover-iso-right;
        }

        > .iso-top {
            fill: $color-hover-iso-top;
        }

        > .iso-back-left {
            fill: $color-hover-iso-back-left;
        }

        > .iso-back-right {
            fill: $color-hover-iso-back-right;
        }

        > .iso-bottom {
            fill: $color-hover-iso-bottom;
        }
    }
}

@keyframes escher {
    from {
        transform: rotateX(-35deg) rotateY(45deg) scale3d(0.5, 0.5, 0.5);
    }
    to {
        transform: rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    }
}

#content-cube-wrapper {
    z-index: 2;
    position: absolute;
    transform-style: preserve-3d;
}

#content-cube {
    @extend %transition-cube;
    transform-style: preserve-3d;
    position: relative;
    display: inline-block;
    will-change: transform;

    animation: escher 1s ease-in;

    > .face {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        position: absolute;
        background: $color-content;
        filter: $filter-face-no-focus;
        backface-visibility: visible;
        z-index: 100;
        pointer-events: none; /* Disable all links until the face has .focus */
        @extend %transition-ease-in-out;

        .content {
            margin: 32px 10%;
            overflow-wrap: break-word;

            ul li {
                width: 100%;
                float: left;
                text-align: left;

                &::before {
                    @extend %heading;
                    content: '>';
                    float: left;
                    line-height: 16px;
                    margin: 0;
                }
            }

            > ul {
                > li {
                    margin: 8px 0;

                    &::before {
                        font-size: 32px;
                    }

                    > p {
                        margin: 0 0 0 30px;
                    }

                    > ul {
                        margin: 6px 0 0 34px;

                        > li {
                            margin-bottom: 8px;

                            &::before {
                                font-size: 20px;
                            }
                            > p {
                                margin: 0 0 0 18px;
                            }
                        }
                    }
                }
            }

            > .description {
                margin-bottom: 32px;
            }
        }

        &.focus {
            pointer-events: auto; /* Enable links */
            z-index: 9999;
            filter: none;
        }
    }
}

.scrollable {
    width: inherit;
    height: inherit;
    overflow-y: auto !important;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar-track {
        background: $color-scrollbar_track;
    }

    &::-webkit-scrollbar {
        background: $color-scrollbar;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-scrollbar_thumb;

        &:hover,
        &:active {
            background: $color-content_highlight;
            color: $color-text_highlight;
        }
    }

    scrollbar-width: wide;
    scrollbar-track-color: $color-scrollbar_track;
    scrollbar-base-color: $color-scrollbar;
    scroll-behavior: smooth;
}

header::after {
    z-index: 1;
    @extend %threed-side-bottom;
}

footer::after {
    z-index: 1;
    height: 32px;
    @extend %threed-side-top;
}

.field.perspective {
    margin-bottom: 24px;

    &:hover {
        .title {
            background-color: $color-content_highlight;
        }
    }

    .title,
    button {
        @extend %transition-ease;
        font-size: 16px;
        min-height: 32px;
        line-height: 2em;
        &::after {
            @extend %threed-side-top;
        }
    }

    button {
        height: 32px;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        font-weight: bold;
        transform-style: preserve-3d;

        &::after {
            @extend %threed-side-top;
        }

        &:active {
            outline: none;
            transform: scale3d(0.98, 0.98, 1);
        }
    }

    input {
        height: 32px;
    }

    textarea {
        resize: vertical;
        height: 128px;
        min-height: 128px;
    }
}

/* Contact form stuff */
#contact-form {
    margin-top: 32px;
}

#captcha-title {
    line-height: 0;
}

#captcha {
    /* The input */
    text-transform: uppercase;
    &::placeholder {
        text-transform: none;
    }
}

#captcha-img {
    border-radius: 2px;
    top: 4px;
    position: relative;
    padding: 0 0 4px 6px;
    background-color: $color-title_banner;
}

#captcha-refresh-btn {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: $url-refresh;
    background-size: contain;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
}

/* Blog and Repository stuff */
.blog-post,
.repo {
    background-color: $color-content_secondary;
    margin-bottom: 32px !important;
    @extend %transition-ease;
    a {
        font-weight: normal !important;
    }
    &:hover {
        background: $color-content_secondary_highlight;

        .blog-post-title,
        .blog-post-tag,
        .repo-title,
        .repo-language,
        .repo-stars {
            background: $color-content_highlight;
            color: $color-text_highlight;
        }
    }
    &::before {
        display: none !important;
    }
}

.blog-post-content,
.repo-content {
    padding: 8px 16px 16px 16px;
}

.blog-post-title,
.repo-title {
    @extend %field-title-style;
    h3 {
        margin: 0;
    }
}

.blog-post-tags,
.repo-stats {
    line-height: 32px;
    text-align: center;
}

.repo-stars {
    &::after {
        margin-left: 4px;
        content: '\2605';
    }
}

.blog-post-tag,
.repo-stars,
.repo-language {
    border-radius: 2px;
    padding: 4px;
    background-color: $color-title_banner;
    @extend %transition-ease;
}

.blog-post-snippet,
.repo-description {
    margin: 0;
}

.blog-post-date,
.repo-updated-date {
    padding: 8px;
    display: block;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}
