<ul>
  <li>
    <p>Hacker, explorer, maker of strange things that are sometimes useful</p>
  </li>
  <li>
    <p>Currently based in <strong>Amsterdam, Netherlands</strong></p>
  </li>
  <li>
    <p>Areas of interest include:</p>
    <ul>
      <li>
        <p>Peer-to-Peer/Distributed Systems</p>
      </li>
      <li>
        <p>Cryptography/Cryptology</p>
      </li>
      <li>
        <p>Information Security</p>
      </li>
      <li>
        <p>Machine Learning</p>
      </li>
      <li>
        <p>Knowledge Engineering</p>
      </li>
      <li>
        <p>Knowledge Representation & Reasoning</p>
      </li>
      <li>
        <p>UX/UI (particularly in the domain of cryptographic systems)</p>
      </li>
      <li>
        <p>Political Science (and how technology can improve equality/transparency of political systems)</p>
      </li>
    </ul>
  </li>
  <li>
    <p>Sometimes I get fed up with computer stuff and go do things like this:</p>
    <ul>
      <li>
        <p>Cycling & hacking on anything with two wheels</p>
      </li>
      <li>
        <p>3D printing & modelling (still partly computer stuff, but I mostly get to stare at a 3D printer instead of a
          screen)</p>
      </li>
      <li>
        <p>The outdoors, hiking, camping, survivalism and generally any activities that give me a break from society for
          a while</p>
      </li>
      <li>
        <p>Plants, hydroponics, micro-ecosystems</p>
      </li>
      <li>
        <p>Self-sustainable housing and living environments - I'm a firm believer that a society with less central
          points of failure allows for greater prosperity of its people</p>
      </li>
    </ul>
  </li>
</ul>