<ul>
  <li>
    Currently based in <a href="http://en.wikipedia.org/wiki/Amsterdam" target="_blank">Amsterdam, Netherlands</a>
  </li>
  <li>
    Studying <strong>Computer Science</strong>, at the <a href="http://vu.nl" target="_blank">Vrije Universiteit</a>.
  </li>
  <li>
    Hacker, explorer, maker of strange things that are sometimes useful.
  </li>
  <li>
    Areas of interest include:
    <ul>
      <li>Peer-to-Peer/Distributed Systems</li>
      <li>Cryptography</li>
      <li>Information Security</li>
      <li>Machine Learning</li>
      <li>Knowledge Engineering</li>
      <li>Knowledge Representation & Reasoning</li>
      <li>UX/UI (particularly in the domain of crypto-systems)</li>
      <li>Political Science (and how technology can improve equality/transparency of political systems)</li>
    </ul>
  </li>
  <li>
    Sometimes I get fed up with computer stuff and go do things like this:
    <ul>
      <li>Cycling & hacking on anything with two wheels</li>
      <li>3D printing & Modelling (still partly computer stuff &#9785;)</li>
      <li>Wilderness survivalism and generally any activities that give me a break from society for a while...</li>
      <li>Plants, hydroponics, microecosystems</li>
      <li>Self-sustainable housing and living environments</li>
    </ul>
  </li>
</ul>

<span id="footnote">
  <strong class="footnote-header">Some notes:</strong>
  <span>
    <em>
      This site is somewhat of an </em><strong>experimental playground</strong><em>, highly influenced by mathematical
      artists such as <a href="https://en.wikipedia.org/wiki/M._C._Escher">M.C. Escher</a>.
    </em>
    <br>
    <em>Things might break in certain browsers, or just generally not follow common UX/UI principles.</em>
  </span>
  <span>
    <em>Even though the site is some strange middle-ground between an interactive surrealist art piece and an
      informative
      website, I do
      still</em>
    strive to
    make it <strong>intuitive and usable</strong><em>. If you find an </em><strong>issue</strong><em> or
    </em><strong>frustration</strong><em>, please don't hesitate to contact me, or post
      an issue to the <a href="https://github.com/Chadsr/ross.ch">website's repository</a> and I will do my best to make
      improvements.</em>
  </span>
</span>