<ul>
  <li>
    Hacker, explorer, maker of strange things that are sometimes useful.
  </li>
  <li>
    Currently based in <a href="http://en.wikipedia.org/wiki/Amsterdam" target="_blank">Amsterdam, Netherlands</a>
  </li>
  <li>
    Areas of interest include:
    <ul>
      <li>Peer-to-Peer/Distributed Systems</li>
      <li>Cryptography/Cryptology</li>
      <li>Information Security</li>
      <li>Machine Learning</li>
      <li>Knowledge Engineering</li>
      <li>Knowledge Representation & Reasoning</li>
      <li>UX/UI (particularly in the domain of cryptographic systems)</li>
      <li>Political Science (and how technology can improve equality/transparency of political systems)</li>
    </ul>
  </li>
  <li>
    Sometimes I get fed up with computer stuff and go do things like this:
    <ul>
      <li>Cycling & hacking on anything with two wheels</li>
      <li>3D printing & modelling (still partly computer stuff, but I mostly get to stare at a 3D printer instead of a
        screen)</li>
      <li>The outdoors, hiking, camping, survivalism and generally any activities that give me a break from society for
        a while.</li>
      <li>Plants, hydroponics, micro-ecosystems</li>
      <li>Self-sustainable housing and living environments - I'm a firm believer that a society with less central points
        of failure allows for greater prosperity of its people.</li>
    </ul>
  </li>
</ul>