<p>Despite the UK domain, I am currently based in <br><a href="http://en.wikipedia.org/wiki/Amsterdam" target="_blank">Amsterdam, Netherlands</a>.<p>
<p>In Amsterdam, I study Bsc <strong>Computer Science</strong>, at the <a href="http://vu.nl" target="_blank">Vrije Universiteit</a>.</p>
<p>I have many ideas/projects in progress , some of which can be found on my <a href="https://github.com/Chadsr" target="_blank">GitHub page</a>. Others are not (yet) publicy available.</p>
<p>Some time in the distant future, this site will contain everything you need to know about me. But, right now, there is <strong>nothing but Space</strong>.</p>
<p>If you would like to <strong>contact me</strong> (about anything), please use one of provided links in the footer below.</p>
