<ul>
  <li>
    Currently based in <a href="http://en.wikipedia.org/wiki/Amsterdam" target="_blank">Amsterdam, Netherlands</a>
  </li>
  <li>
    Studying <strong>Computer Science</strong>, at the <a href="http://vu.nl" target="_blank">Vrije Universiteit</a>.
  </li>
  <li>
    Hacker, explorer, maker of strange things that are sometimes useful.
  </li>
  <li>
    Areas of interest:
    <ul>
      <li>Machine Learning</li>
      <li>Knowledge Engineering</li>
      <li>Knowledge Representation & Reasoning</li>
      <li>Peer-to-Peer/Distributed Systems</li>
      <li>Cryptography</li>
      <li>Information Security</li>
      <li>UX/UI</li>
      <li>Political Science</li>
    </ul>
  </li>
</ul>