<form id="contact-form" method="post" role="form">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <fieldset>
    <label for="name">Name &#42;</label>
    <input name="name" type="text" placeholder="Your name" required="required">
    <label for="email">Email &#42;</label>
    <input name="email" type="text" placeholder="Your email" required="required">
    <label for="message">Message &#42;</label>
    <textarea name="message" placeholder="Enter your message here" rows="3" required="required"></textarea>
    <button type="submit">Submit</button>
  </fieldset>
</form>
