<ul id="crypto" class="left fullWidth">
    <li class="ethereum coin halfWidth">
        <h4 class="nojs">Ethereum</h4>
        <textarea id="eth-addr" class="fullWidth" title="Ethereum" readonly="readonly">0xE7bD36a7CF4F1F8896378D41177BEf637075a1eD</textarea>
    </li>
    <li class="bitcoin coin halfWidth">
        <h4 class="nojs">Bitcoin</h4>
        <textarea id="btc-addr" class="fullWidth" title="Bitcoin" readonly="readonly">3Cc6xjDQcHZR9PdTksg6UjgwpBwCSkVZEC</textarea>
    </li>
</ul>
