<div id="content-cube" class="content-cube rotate-0">
    <div id="about" class="face face-front face-0 focus">
        <div class="face-content">
            <section class="content-section">
                <h1>Ross Chadwick</h1>
                {{> about}}
            </section>
        </div>
    </div>
    <div id="projects" class="face face-right face-1">
        <div class="face-content">
            <section class="content-section">
                <h2>Projects</h2>
                {{> projects}}
            </section>
        </div>
    </div>
    <div id="blog" class="face face-back face-2">
        <div class="face-content">
            <section class="content-section">
                <h2>Blog</h2>
                {{> blog}}
            </section>
        </div>
    </div>
    <div id="contact" class="face face-left face-3">
        <div class="face-content">
            <section class="content-section">
                <h2>Contact</h2>
                {{> contact}}
            </section>
        </div>
    </div>
    <div class="face face-bottom">
        <div class="face-content"></div>
    </div>
    <div class="face face-top">
        <div class="face-content"></div>
    </div>
</div>
