<div id="mainCube" class="cube">
	<div class="face front focus">
		<section id="about" class="content">
			<h1>Ross Chadwick</h1>
			{{> about}}
		</section>
	</div>
	<div class="face right">
		<section id="projects" class="content">
			<h2>Projects</h2>
			{{> projects}}
		</section>
	</div>
	<div class="face back">
		<section id="blog" class="content">
			<h2>Blog</h2>
			{{> blog}}
		</section>
	</div>
	<div class="face left">
		<section class="content">
			<h2>Contact</h2>
			{{> contact}}
		</section>
	</div>
	<div class="face bottom">
	</div>
	<div class="face top">
	</div>
</div>
