<footer class="perspective">
  {{> social_links}}
  {{> crypto_links}}
  <h4 class="copyright right fullWidth">© Ross Chadwick
    <script type="text/javascript">document.write(new Date().getFullYear());</script>
  </h4>
</footer>
