<header class="perspective">
  {{> nav}}
</header>
<div id="nojs">Looks like you have javascript disabled. The site will look prettier with it, but if you prefer a minimal
  layout, then go ahead!</div>