<head>
  <title>{{title}}</title>
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" />
  
  <!-- Basic styles used when JS is disabled -->
  <style>

    html {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    body.nojs-styles {
      color: white;
      font: 1.2rem Inconsolata, monospace;
      text-shadow: 0 0 5px #C8C8C8;
      background-color: black;
      background-image: radial-gradient( rgba(31, 60, 86, 0.75), black 120% );
      margin: 0;
      padding: 0;
      height: 100vh;
    }

    body.nojs-styles::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-image: repeating-linear-gradient(
        0deg,
        rgba(black, 0.15),
        rgba(black, 0.15) 1px,
        transparent 1px,
        transparent 2px
      );
    }

    ::selection {
      background: #0080FF;
      text-shadow: none;
    }

    .repo-stars::after {
      margin-left: 4px;
      content: '\2605';
    }

    body.nojs-styles header, body.nojs-styles #crypto {
      display: none;
    }

    body.nojs-styles .content {
      margin: 0 32px;
    }

    body.nojs-styles .field {
      margin-bottom: 16px;
    }

    body.nojs-styles fieldset {
      border: none;
      margin: 0;
      padding: 0;
    }

    @font-face {
      font-family: "Macula";
      src: url("../../fonts/Macula-Solid.woff") format('woff');
      font-weight: bold;
    }

    body.nojs-styles h1 {
      font-family: "Macula", "serif";
      font-size: 48px;
      margin: 16px 0;
    }

    body.nojs-styles h2 {
      font-family: "Macula", "serif";
      font-size: 32px;
      margin: 16px 0;
    }

    body.nojs-styles h3 {
      font-size: 18px;
      margin: 3px 0 16px 0;
    }

    body.nojs-styles a {
      color: white;
      font-weight: bold;
      margin: 0;
      text-decoration: none;
    }

    body.nojs-styles ul {
      list-style-type: none;
    }

    body.nojs-styles .content li {
      margin: 12px 0;
      width: 100%;
      float: left;
    }

    body.nojs-styles input, body.nojs-styles textarea {
      width: 100%;
      max-width: 500px;
      border: none;
    }

    body.nojs-styles label {
      width: 100%;
      display: block;
    }

    body.nojs-styles .face {
      width: 100%;
      float: left;
    }

    body.nojs-styles .face .content ul > li::before {
      font-family: "Macula", "serif";
      content: '>';
      font-size: 5vmin;
      float: left;
      line-height: 24px;
      margin-right: 10px;
    }

    body.nojs-styles footer {
      width: 100%;
      background-color: rgba(29, 54, 75, 1);
    }

    body.nojs-styles nav > ul, body.nojs-styles footer > ul {
      margin: 0;
    }

    body.nojs-styles footer > ul > li, body.nojs-styles .repo {
      display: block;
      float: left;
    }

    body.nojs-styles footer > ul > li {
      margin-right: 16px;
    }

    body.nojs-styles #nojs {
      padding: 6px;
      background-color: rgba(31, 60, 86, 1);
      font-size: 14px;
    }
  </style>

  {{> webpack}}
</head>
