<head>
    <title>Ross Chadwick</title>
    <meta name="description" content="Ross Chadwick - Hacker, explorer, maker of strange things that are sometimes useful.">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
</head>
