<nav id="nav">
  <ul class="left fullWidth">
    <li id="about-btn" class="selected">
      <a title="About" href="#">
        <h4>About</h4>
      </a>
    </li>
    <li id="projects-btn" >
      <a title="Projects" href="#">
        <h4>Projects</h4>
      </a>
    </li>
    <li id="blog-btn">
      <a href="#">
        <h4>Blog</h4>
      </a>
    </li>
    <li id="contact-btn">
      <a title="Contact" href="#">
        <h4>Contact</h4>
      </a>
    </li>
  </ul>
</nav>
