<ul class="social left fullWidth">
  <li class="github">
    <a title="GitHub" href="https://github.com/Chadsr" target="_blank">
      <h4>GitHub</h4>
    </a>
  </li>
  <li class="keybase">
    <a title="Keybase" href="https://keybase.io/chadsr" target="_blank">
      <h4>Keybase</h4>
    </a>
  </li>
  <li class="linkedin">
    <a title="LinkedIn" href="https://nl.linkedin.com/in/ross-chadwick" target="_blank">
      <h4>LinkedIn</h4>
    </a>
  </li>
  <li class="twitter">
    <a title="Twitter" href="https://twitter.com/RossChadwick" target="_blank">
      <h4>Twitter</h4>
    </a>
  </li>
</ul>
