<ul class="social left fullWidth">
  <li class="github">
    <a title="GitHub" href="https://github.com/Chadsr" target="_blank">
      <h4 class="nojs">GitHub</h4>
    </a>
  </li>
  <li class="keybase">
    <a title="Keybase" href="https://keybase.io/chadsr" target="_blank">
      <h4 class="nojs">Keybase</h4>
    </a>
  </li>
  <li class="linkedin">
    <a title="LinkedIn" href="https://nl.linkedin.com/in/ross-chadwick" target="_blank">
      <h4 class="nojs">Linkedin</h4>
    </a>
  </li>
  <li class="mastodon">
    <a title="Mastodon" href="https://social.weho.st/@chadsr" target="_blank">
      <h4 class="nojs">Mastodon</h4>
    </a>
  </li>
  <li class="twitter">
    <a title="Twitter" href="https://twitter.com/RossChadwick" target="_blank">
      <h4 class="nojs">Twitter</h4>
    </a>
  </li>
</ul>