<ul class="social left fullWidth">
    <li class="github">
        <a title="GitHub" href="https://github.com/Chadsr" target="_blank">
            <span>GitHub</span>
        </a>
    </li>
    <li class="keybase">
        <a title="Keybase" href="https://keybase.io/chadsr" target="_blank">
            <span>Keybase</span>
        </a>
    </li>
    <li class="mastodon">
        <a title="Mastodon" href="https://social.weho.st/@chadsr" target="_blank">
            <span>Mastodon</span>
        </a>
    </li>
    <li class="linkedin">
        <a title="LinkedIn" href="https://nl.linkedin.com/in/ross-chadwick" target="_blank">
            <span>Linkedin</span>
        </a>
    </li>
    <li class="twitter">
        <a title="Twitter" href="https://twitter.com/RossChadwick" target="_blank">
            <span>Twitter</span>
        </a>
    </li>
    <li class="gpg">
        <a title="GPG Key" href="/files/2B7340DB13C85766.asc" target="_blank">
            <span>GPG Key</span>
        </a>
    </li>
</ul>
