<ul class="blog-feed feed">
    <li class="feed-item blog-post field hover perspective">
        <a href="}" rel="noopener" target="_blank">
            <div class="blog-post-title title perspective">
                <h3></h3>
            </div>
            <span class="blog-post-date">Published:</span>
            <div class="blog-post-tags">
                <span class="blog-post-tag"></span>
            </div>
            <div class="feed-item-content blog-post-content">
                <p class="blog-post-snippet"></p>
            </div>
        </a>
    </li>
</ul>