<section class="content-section content-contact">
    <div class="title-section">

        <h2>Contact</h2>
        <p class="title-wordmark">
            <em>
                Messages are <a class="link" href="https://en.wikipedia.org/wiki/End-to-end_encryption"
                    target="_blank">end-to-end
                    encrypted</a> in your browser, using my
                <a class="link" href="/files/2B7340DB13C85766.asc" target="_blank">public key</a>.
            </em>
        </p>
    </div>
    <form id="contact-form">
        <fieldset>
            <div class="field perspective hover">
                <label class="title perspective" for="i-name">Name</label>
                <input id="i-name" name="fullName" type="text" autocomplete="name" pattern="[A-Za-z]+"
                    placeholder="Your name" required="required">
            </div>
            <div class="field perspective hover">
                <label class="title perspective" for="i-email">Email</label>
                <input id="i-email" name="email" type="email" autocomplete="email" placeholder="Your email"
                    required="required">
            </div>
            <div class="field perspective text-area hover">
                <label class="title perspective" for="i-message">Message</label>
                <textarea id="i-message" name="message" placeholder="Enter your message here" rows="3"
                    required="required"></textarea>
            </div>
            <div class="perspective">
                <button id="contact-submit" name="submit" type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
    <form class="hidden" id="contact-form-encrypted">
        <textarea name="message" required="required"></textarea>
    </form>
</section>