<div id="content-cube" class="content-cube">
    <div id="about" class="face face-front">
        <div class="face-content">
            {{- partial "about.html" . -}}
        </div>
    </div>
    <div id="work" class="face face-right">
        <div class="face-content">
            {{- partial "work.html" . -}}
        </div>
    </div>
    <div id="notes" class="face face-back">
        <div class="face-content">
            {{- partial "notes.html" . -}}
        </div>
    </div>
    <div id="contact" class="face face-left">
        <div class="face-content">
            {{- partial "contact.html" . -}}
        </div>
    </div>
    <div class="face face-bottom">
        <div class="face-content"></div>
    </div>
    <div class="face face-top">
        <div class="face-content"></div>
    </div>
</div>