<div id="content-cube" class="content-cube rotate-0">
    <div id="about" class="face face-front face-0 focus">
        <div class="face-content">
            {{- partial "about.html" . -}}
        </div>
    </div>
    <div id="work" class="face face-right face-1">
        <div class="face-content">
            {{- partial "work.html" . -}}
        </div>
    </div>
    <div id="blog" class="face face-back face-2">
        <div class="face-content">
            {{- partial "thoughts.html" . -}}
        </div>
    </div>
    <div id="contact" class="face face-left face-3">
        <div class="face-content">
            {{- partial "contact.html" . -}}
        </div>
    </div>
    <div class="face face-bottom">
        <div class="face-content"></div>
    </div>
    <div class="face face-top">
        <div class="face-content"></div>
    </div>
</div>