<ul class="social full-width" aria-label="Links">
    <li class="social-li">
        <a class="youtube social-link" title="Youtube Channel" aria-label="Youtube Channel"
            href="https://www.youtube.com/@wildeross" target="_blank">
            {{- partial "icons/youtube.html" . -}}
        </a>
    </li>
    <li class="social-li">
        <a class="linkedin social-link" title="LinkedIn" aria-label="LinkedIn"
            href="https://nl.linkedin.com/in/ross-chadwick" target="_blank">
            {{- partial "icons/linkedin.html" . -}}
        </a>
    </li>
    <li class="social-li">
        <a class="github social-link" title="GitHub" aria-label="Github" href="https://github.com/chadsr"
            target="_blank">
            {{- partial "icons/github.html" . -}}
        </a>
    </li>
    <li class="social-li">
        <a class="gitlab social-link" title="GitLab" aria-label="GitLab" href="https://gitlab.com/chadsr"
            target="_blank">
            {{- partial "icons/gitlab.html" . -}}
        </a>
    </li>
    <li class="social-li">
        <a class="bluesky social-link" title="Bluesky" aria-label="Bluesky" href="https://bsky.app/profile/ross.ch"
            target="_blank">
            {{- partial "icons/bluesky.html" . -}}
        </a>
    </li>
    <li class="social-li">
        <a class="keybase social-link" title="Keybase" aria-label="Keybase" href="https://keybase.io/chadsr"
            target="_blank">
            {{- partial "icons/keybase.html" . -}}
        </a>
    </li>
    <li class="social-li">
        <a class="gpg social-link" title="GPG Key" aria-label="GPG Key" href="/files/2B7340DB13C85766.asc"
            target="_blank">
            {{- partial "icons/fingerprint.html" . -}}
        </a>
    </li>
</ul>