<ul class="social full-width">
    <li>
        <a class="social-icon github fa-brands fa-github" title="GitHub" href="https://github.com/chadsr"
            target="_blank">
        </a>
    </li>
    <li>
        <a class="social-icon linkedin fa-brands fa-linkedin-in" title="LinkedIn"
            href="https://nl.linkedin.com/in/ross-chadwick" target="_blank">
        </a>
    </li>
    <li>
        <a class="social-icon bluesky fa-brands fa-bluesky" title="Bluesky" href="https://bsky.app/profile/ross.ch"
            target="_blank">
        </a>
    </li>
    <li>
        <a class="social-icon keybase fa-brands fa-keybase" title="Keybase" href="https://keybase.io/chadsr"
            target="_blank">
        </a>
    </li>
    <li>
        <a class="social-icon gpg fa-solid fa-fingerprint" title="GPG Key" href="/files/2B7340DB13C85766.asc"
            target="_blank">
        </a>
    </li>
</ul>