<nav id="nav">
    <ul class="left fullWidth">
        <li id="about-btn" class="selected">
            <a title="About">
                <h4>About</h4>
            </a>
        </li>
        <li id="projects-btn">
            <a title="Projects">
                <h4>Projects</h4>
            </a>
        </li>
        <li id="blog-btn">
            <a title="Blog">
                <h4>Blog</h4>
            </a>
        </li>
        <li id="contact-btn">
            <a title="Contact">
                <h4>Contact</h4>
            </a>
        </li>
    </ul>
</nav>