<nav id="nav" role="navigation" aria-label="Navigation">
    <ul class="full-width">
        <li id="nav-about" class="selected nav-button" aria-label="About">
            <a title="About" href="#about">
                <h4>About</h4>
            </a>
        </li>
        <li id="nav-work" class="nav-button" aria-label="Work">
            <a title="Work" href="#work">
                <h4>Work</h4>
            </a>
        </li>
        <li id="nav-notes" class="nav-button" aria-label="Notes">
            <a title="Notes" href="#notes">
                <h4>Notes</h4>
            </a>
        </li>
        <li id="nav-contact" class="nav-button" aria-label="Contact">
            <a title="Contact" href="#contact">
                <h4>Contact</h4>
            </a>
        </li>
    </ul>
</nav>