<nav id="nav">
    <ul class="full-width">
        <li id="nav-about" class="selected nav-button">
            <a title="About">
                <h4>About</h4>
            </a>
        </li>
        <li id="nav-work" class="nav-button">
            <a title="Work">
                <h4>Work</h4>
            </a>
        </li>
        <li id="nav-thoughts" class="nav-button">
            <a title="Thoughts">
                <h4>Thoughts</h4>
            </a>
        </li>
        <li id="nav-contact" class="nav-button">
            <a title="Contact">
                <h4>Contact</h4>
            </a>
        </li>
    </ul>
</nav>