<section class="content-section content-blog">
    <div class="title-section">
        <h2>Notes</h2>
        <p class="title-wordmark"><em>An attempt at publicly organising my notes and research.</em></p>
        <p>
            <em>
                They are also viewable as an <a class="link" href="https://notes.ross.ch/#/graph"
                    target="_blank">interactive
                    graph</a> or as <a class="link"
                    href="https://raw.githubusercontent.com/chadsr/notes/refs/heads/main/notes.nq"
                    target="_blank">linked-data</a>.
            </em>
        </p>
    </div>

    {{ $notes := dict }}
    {{ $url := "https://raw.githubusercontent.com/chadsr/notes/refs/heads/main/notes.jsonld" }}
    {{ $opts := dict
    "headers" (dict "Content-Type" "application/json")
    }}
    {{ with try (resources.GetRemote $url $opts) }}
    {{ with .Err }}
    {{ errorf "%s" . }}
    {{ else with .Value }}
    {{ $notes = .Content | transform.Unmarshal }}
    {{ else }}
    {{ errorf "Unable to get remote resource %q" $url }}
    {{ end }}
    {{ end }}

    {{ $scratch := newScratch }}

    <ul class="notes-feed feed">
        {{ range $k, $note := $notes }}
        {{ if (index $note "https://schema.org/dateCreated") }}
        {{ $dateCreatedSlice := (index $note "https://schema.org/dateCreated") }}
        {{ $dateCreatedMap := (index $dateCreatedSlice 0) }}
        {{ $dateCreated := (index $dateCreatedMap "@value") }}
        {{ $dateParts := split $dateCreated "-" }}
        {{ $time := (time.AsTime (printf "%s-%s-%s" (index $dateParts 2) (index $dateParts 1) (index $dateParts 0))) }}
        {{ $noteWithTime := dict "note" $note "time" $time }}
        {{ $scratch.SetInMap "notes" (string $k) $noteWithTime }}
        {{ end }}
        {{ end }}

        {{ $notesWithTime := sort ($scratch.Get "notes") "time" "desc" }}

        {{ range $notesWithTime }}
        {{ $note := (index . "note") }}
        {{ $time := (index . "time") }}
        {{ $types := index $note "@type" }}

        {{ if or (in $types "https://notes.ross.ch/#/page/Note") (in $types "https://notes.ross.ch/#/page/Journal") }}

        {{ if (index $note "https://notes.ross.ch/#/page/published") }}
        {{ $isPublishedSlice := (index $note "https://notes.ross.ch/#/page/published") }}
        {{ $isPublishedMap := (index $isPublishedSlice 0) }}
        {{ $isPublished := (index $isPublishedMap "@value") }}

        {{ if eq $isPublished "true" }}
        <li class="feed-item blog-post field hover">
            <a href="{{ index $note "@id" }}" rel="noopener" target="_blank">
                <script type="application/ld+json">
                    {{ $note | transform.Remarshal "json" | safeJS }}
                </script>
                <div class="title feed-item-title hover threed-top perspective">
                    {{ if (in $types "https://notes.ross.ch/#/page/Journal") }}
                    <h3>Journal</h3>
                    {{ else }}
                    {{ $nameSlice := (index $note "https://schema.org/name") }}
                    {{ $titleMap := (index $nameSlice 0) }}
                    <h3>{{ (index $titleMap "@value") }}</h3>
                    {{ end }}
                </div>
                <div class="post-stats">
                    <div class="post-stats-item post-date feed-item-info">
                        {{- partial "icons/calendar.html" . -}}
                        {{ time.Format "02 Jan 2006" $time }}
                    </div>
                </div>

                {{ if (index $note "https://notes.ross.ch/#/page/topic") }}
                {{ $topicsSlice := (index $note "https://notes.ross.ch/#/page/topic") }}
                <div class="feed-item-info feed-item-tags">
                    {{ range $topic := $topicsSlice }}
                    {{ $topicString := (replace (index $topic "@id") "https://notes.ross.ch/#/page/" "") }}
                    {{ $topicId := (replace $topicString "%20" " ") }}
                    <span class="feed-item-tag hover">{{ $topicId }}</span>
                    {{ end}}
                </div>
                {{ end }}

                <div class="feed-item-content">
                    {{ $descSlice := (index $note "https://schema.org/description") }}
                    {{ $descMap := (index $descSlice 0) }}
                    {{ $description := (index $descMap "@value") }}
                    <p class="feed-item-summary">{{ $description }}</p>
                </div>
            </a>
        </li>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>
</section>