<article class="post">
    <div class="post-header perspective threed-top">
        <div class="title post-title">
            <h1>{{ .Title }}</h1>
        </div>
        <div class="post-stats">
            <div class="post-stats-item post-date">
                <span>
                    {{ .Params.date.Format .Site.Params.dateFormat }}{{if .Lastmod}}<em>, Updated {{ .Lastmod.Format
                        .Site.Params.dateFormat }}</em>{{ end }}
                </span>
            </div>
            {{ $readingTime := div (float .WordCount) .Site.Params.reading_speed }}
            {{ $readingTime = math.Ceil $readingTime }}
            <div class="post-stats-item post-read-time">
                {{- partial "icons/hourglass.html" . -}}
                {{ $readingTime }} minute read
            </div>
            <div class="post-stats-item post-tags">
                {{ range $tag := (.Params.tags) }}
                <span class="post-tag"><em>{{ $tag }}</em></span>
                {{ end}}
            </div>
        </div>
    </div>
    <div class="post-content box-shadow">
        <div class="post-text scrollable">
            {{ .Content }}
        </div>
    </div>
</article>