<section class="content-section content-blog">
    <div class="title-section">
        <h2>Thoughts</h2>
        <p class="title-wordmark"><em>An attempt at publicly organising my thoughts/research.</em></p>
    </div>
    <h3>Just like my thoughts, this section needs some more work...</h3>
    <p><em>Something will be here soon.</em></p>
    <!-- <ul class="thoughts-feed feed">
        {{ range ( where .Site.RegularPages "Type" "blog" ).ByDate.Reverse }}
        {{ .Render "li" }}
        {{ end }}
    </ul> -->
</section>