<section class="content-section content-blog">
    <div class="title-section">
        <h2>Thoughts</h2>
        <p class="title-wordmark"><em>An attempt at publicly organising my thoughts/research.</em></p>
    </div>
    <ul class="thoughts-feed feed">
        {{ range ( where .Site.RegularPages "Type" "blog" ).ByDate.Reverse }}
        {{ .Render "li" }}
        {{ else }}
        <li>
            <h3 class="no-content"><em>Nothing here... Check back later</em></h3>
        </li>
        {{ end }}
    </ul>
</section>