<section class="content-section content-work">
    <div class="title-section">
        <h2>Work</h2>
        <p class="title-wordmark"><em>A non-definitive collection of my work and projects.</em></p>
    </div>
    <ul class="feed work-feed">
        {{ $hasContent := false }}
        {{ $feedTypes := slice "project" }}
        {{ range ( where .Site.RegularPages "Type" "in" $feedTypes ).ByDate.Reverse }}
        {{ .Render "li" }}
        {{ $hasContent = true }}
        {{ end }}
        {{ range $repo := .Site.Data.github.repos }}
        {{ if not (in $.Site.Params.reposExclude $repo.url) }}
        <li class="feed-item repo field hover perspective">
            <a href="{{ $repo.url }}" rel="noopener" target="_blank">
                <div class="title repo-title feed-item-title hover threed-top perspective">
                    <h3>{{ $repo.name }}</h3>
                </div>

                <div class="feed-item-info ">
                    <span class="repo-updated-date feed-item-date hover">
                        {{- partial "icons/calendar_repeat.html" . -}}
                        {{ $updatedTime := time.AsTime $repo.updatedAt }}
                        <p>{{ time.Format $.Site.Params.dateFormat $updatedTime }}</p>
                    </span>
                    <span class="repo-stars">
                        <p>{{ $repo.stargazerCount }}</p>
                    </span>
                </div>

                <div class="feed-item-info feed-item-tags">
                    {{ range first 2 $repo.languages }}
                    <span class="repo-language feed-item-tag hover">{{ . }}</span>
                    {{ end }}
                    {{ range first 3 $repo.topics }}
                    <span class="repo-tag feed-item-tag hover">{{ . }}</span>
                    {{ end}}
                </div>
                <div class="feed-item-content repo-content">
                    <p class="repo-summary feed-item-summary">{{ $repo.description }}</p>
                </div>
            </a>
        </li>
        {{ $hasContent = true }}
        {{ end }}
        {{ end }}

        {{ if not $hasContent }}
        <li>
            <h3 class="no-content"><em>Nothing here... Check back later</em></h3>
        </li>
        {{ end }}
    </ul>
</section>