name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        node-version: [lts/*]
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
          cache: 'npm'
      - name: Install Dependencies
        run: |
          npm ci
      - name: Lint
        uses: reviewdog/action-eslint@v1
        with:
          reporter: github-check
          github_token: ${{ github.token }}
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        node-version: [lts/*]
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
          cache: 'npm'
      - name: Install Dependencies
        run: |
          npm ci
      - name: Build CF Functions
        run: |
          npm run build:functions
      - name: Create Assets Directory
        run: mkdir public
      - name: Run Tests
        run: |
          npm run test:coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        node-version: [lts/*]
    steps:
      - uses: actions/checkout@v5
      - name: Install system dependencies
        run: |
          sudo snap install dart-sass
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
          cache: 'npm'
      - name: Install NPM Dependencies
        run: |
          npm ci
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
      - name: Build
        run: npm run build
