name: Update data
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
permissions:
  contents: write
  pull-requests: write
jobs:
  data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Get Github Repositories
        uses: chadsr/action-user-repos-json@v0.1.10
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          username: 'chadsr'
          minimumStargazers: 1
          outputPath: ./data/github/repos.json
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          title: 'Update Page Data'
          body: ''
          commit-message: "update page data"
          branch: 'update-page-data-${{ github.run_id }}'
          assignees: 'chadsr'
          labels: |
            data
